*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sign{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.sign h1:nth-child(1){
    border-radius: 10px;
}
.sign h1:nth-child(2){
    background-color: rgb(247, 191, 113);
    border-radius: 10px;
}
#box{
    width: 55%;
    margin: 12vh auto;
    border:2px solid #131313c7;
    border-radius: 10px;
    background: rgb(51, 46, 46);
    background-color: rgba(52, 52, 77, 0.274);
}
#signIn, #homePage{
    display: none;
}
#homepage-view{
    display: flex;
    gap: 8vw;
    align-items: center;
    justify-content: center;
    margin: 11vh auto;
}
#homepage-view img{
    height:400px;
    width: 400px;
    border-radius: 20px;
}

#left-home-div{
    width: 30vw;
}

#left-home-div h1{
    color: green;
}

#left-home-div hr{
    border: 0;
    height: 1.3px;
    background-color: green;
}

#left-home-div h3{
    color: rgba(193, 101, 36, 0.837);
}

#left-content-div{
    width: 27vw;
}

#left-content-div p{
    line-height: 1.3;
    color: rgb(193, 156, 36);
}

#signUp{
    padding: 15px;
    border-radius: 13px;
    width: 90%;
    margin: auto;
}
#signUp button, #signIn button{
    background-color: rgba(61, 113, 193, 0.927);
    width: 101%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    text-indent: 3%;
    font-size: medium;
    cursor: pointer;
}

#signUp select{
    width: 101.5%;
    margin: 25 auto;
    line-height: 2rem;
    font-size: 1.2rem;
    text-indent: 3%;
    color: grey;
    border-radius: 4px;
    border:2px solid #010c10c7;
    padding: 4px 0;
    box-shadow: 2px 2px 2px gray;
}
#signIn{
    padding: 15px 20px;
    border-radius: 13px;
    width: 90%;
    margin: auto;
}
#signUp input,#signIn input{
    width: 100%;
    margin: 2% auto;
    line-height: 2rem;
    background-color: white;
    font-size: 1.2rem;
    text-indent: 3%;
    border-radius: 4px;
    border:2px solid #000000c7;
    box-shadow: 2px 2px 2px gray;

}

#signInButton, #signUpButton
{
    cursor: pointer;
    padding: 7px;
}

#menu{
    display:none;
    width: 100%;
}

#menu ol{
    display: flex;
    list-style-type: none;
    margin: auto;
    justify-content: space-evenly;
    text-transform: uppercase;
    color:white;
    background-color: rgb(49, 16, 16);
    padding: 14px;
    border-radius: 10px;
}
#menu ol li{
    padding: 10px;
    border-radius: 10px;
}
#menu ol li:hover{
    background-color:lightskyblue ;
    color: rgb(241, 234, 234);
    cursor: pointer;
}   

#welcome{
    font-size: 3rem;
    text-align: center;
    display: block;
    margin-top: 10%;
}

