body {

    background-color: rgb(91 117 150) !important;
}
.container {
    display: flex;
    flex-direction: row;     
    justify-content: center; 
    align-items: center;     
    height: 720px;
}

.container1 {
    border: 1px solid black;
    width: 310px;
    height: 300px;
    text-align: center;
    background-color: white;
    font-family:  "Roboto", sans-serif;
    padding: 5px;
}
.container1 h2,h4{
    
    line-height: 1px;
    letter-spacing: 1px;
    color: #17355e;
    
}
.container h2{
    padding-top: 20px;
    font-size: 32px;    
}
.container h4{
    font-size: 25px;
}
.container1 p,q,blockquote{
    padding-top: 10px;
    color: #767569;
    font-size: 14px;
    letter-spacing: 1px;
}

.container2 {
    border: 1px solid #17355e;
    background-color: #17355e;
    width: 270px;
    height: 340px;
    padding: 5px;
    padding-left: 40px;
    font-family:  "Roboto", sans-serif;
    color: #bababa;
}
.container2 input{
    height: 25px;
    border: 1px solid #767569;
    background-color: inherit;
    width: 230px;
}
 .login {
    border: 1px solid #767569;
    text-align: center;
    width: 230px;
    height: 30px;
    padding-top: 5px;
}
 .signin 
{
    border: 1px solid #767569;
    text-align: center;
    width: 230px;
    height: 30px;
    padding-top: 3px;
}
.signin img{
    padding-top: 5px;
    text-align: center;
    width: 20px;
    height: 18px;
}