.elementor-83654 .elementor-element.elementor-element-44e1ac7d:not(.elementor-motion-effects-element-type-background), .elementor-83654 .elementor-element.elementor-element-44e1ac7d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-44e1ac7d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-83654 .elementor-element.elementor-element-44e1ac7d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-38737878:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-38737878 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-38737878 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-83654 .elementor-element.elementor-element-38737878 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-271d8e7c > .elementor-container{max-width:1175px;}.elementor-83654 .elementor-element.elementor-element-271d8e7c:not(.elementor-motion-effects-element-type-background), .elementor-83654 .elementor-element.elementor-element-271d8e7c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-271d8e7c > .elementor-background-overlay{opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-271d8e7c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:45px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-6ff66143 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-6ff66143:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-6ff66143 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-6ff66143 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-6ff66143 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-1f7e7c42 .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-1f7e7c42 .elementor-nav-menu--main .elementor-item{color:#667085;fill:#667085;padding-top:10px;padding-bottom:10px;}.elementor-83654 .elementor-element.elementor-element-1f7e7c42 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-1f7e7c42 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-1f7e7c42 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-1f7e7c42 .elementor-nav-menu--main .elementor-item:focus{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-1f7e7c42 > .elementor-widget-container{margin:0px 0px 0px -127px;}.elementor-83654 .elementor-element.elementor-element-35f2af23{--divider-border-style:solid;--divider-color:#D8D8D8;--divider-border-width:0.3px;}.elementor-83654 .elementor-element.elementor-element-35f2af23 .elementor-divider-separator{width:80%;margin:0 auto;margin-left:0;}.elementor-83654 .elementor-element.elementor-element-35f2af23 .elementor-divider{text-align:left;}.elementor-83654 .elementor-element.elementor-element-35f2af23 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-1f7e657f .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-1f7e657f .elementor-nav-menu--main .elementor-item{color:#667085;fill:#667085;}.elementor-83654 .elementor-element.elementor-element-1f7e657f .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-1f7e657f .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-1f7e657f .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-1f7e657f .elementor-nav-menu--main .elementor-item:focus{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-1f7e657f > .elementor-widget-container{margin:0px 0px 0px -45px;}.elementor-83654 .elementor-element.elementor-element-f8ab97c > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-f8ab97c:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-f8ab97c > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-f8ab97c > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-f8ab97c > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-5d0e2c5e > .elementor-widget-container{margin:0px 0px 0px -5px;}.elementor-83654 .elementor-element.elementor-element-57d8f121 .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-57d8f121 .elementor-nav-menu--main .elementor-item{color:#667085;fill:#667085;padding-top:10px;padding-bottom:10px;}.elementor-83654 .elementor-element.elementor-element-57d8f121 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-57d8f121 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-57d8f121 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-57d8f121 .elementor-nav-menu--main .elementor-item:focus{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-57d8f121 > .elementor-widget-container{margin:0px 0px 0px -90px;}.elementor-83654 .elementor-element.elementor-element-4c4158b9 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-4c4158b9:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-4c4158b9 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-4c4158b9 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-4c4158b9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-7ca7e7ff .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-7ca7e7ff .elementor-nav-menu--main .elementor-item{color:#667085;fill:#667085;padding-top:10px;padding-bottom:10px;}.elementor-83654 .elementor-element.elementor-element-7ca7e7ff .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-7ca7e7ff .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-7ca7e7ff .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-7ca7e7ff .elementor-nav-menu--main .elementor-item:focus{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-7ca7e7ff > .elementor-widget-container{margin:0px 0px 0px -125px;}.elementor-83654 .elementor-element.elementor-element-6eb1c6f1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-6eb1c6f1:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-6eb1c6f1 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-6eb1c6f1 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-6eb1c6f1 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-205e11e5 .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-205e11e5 .elementor-nav-menu--main .elementor-item{color:#667085;fill:#667085;padding-top:10px;padding-bottom:10px;}.elementor-83654 .elementor-element.elementor-element-205e11e5 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-205e11e5 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-205e11e5 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-205e11e5 .elementor-nav-menu--main .elementor-item:focus{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-205e11e5 > .elementor-widget-container{margin:0px 0px 0px -120px;}.elementor-83654 .elementor-element.elementor-element-31afcce8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-31afcce8:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-31afcce8 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-31afcce8 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-31afcce8 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-52995279 .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-52995279 .elementor-nav-menu--main .elementor-item{color:#667085;fill:#667085;padding-top:10px;padding-bottom:10px;}.elementor-83654 .elementor-element.elementor-element-52995279 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-52995279 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-52995279 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-52995279 .elementor-nav-menu--main .elementor-item:focus{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-52995279 > .elementor-widget-container{margin:0px 0px 0px -132px;}.elementor-83654 .elementor-element.elementor-element-fdf50fb:not(.elementor-motion-effects-element-type-background), .elementor-83654 .elementor-element.elementor-element-fdf50fb > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-fdf50fb{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-83654 .elementor-element.elementor-element-fdf50fb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-61198cc3 > .elementor-container{max-width:1175px;}.elementor-83654 .elementor-element.elementor-element-61198cc3{margin-top:30px;margin-bottom:0px;}.elementor-83654 .elementor-element.elementor-element-c5afec7 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-c5afec7:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-c5afec7 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-c5afec7 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-c5afec7 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-3763045 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-3763045:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-3763045 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-3763045 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 5px;--e-column-margin-right:0px;--e-column-margin-left:5px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-3763045 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-0bf2574 > .elementor-widget-container{margin:0px 0px 0px 13px;}.elementor-83654 .elementor-element.elementor-element-92a7a48 .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-92a7a48 .elementor-nav-menu--main .elementor-item{color:#667085;fill:#667085;padding-top:10px;padding-bottom:10px;}.elementor-83654 .elementor-element.elementor-element-92a7a48 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-92a7a48 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-92a7a48 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-92a7a48 .elementor-nav-menu--main .elementor-item:focus{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-92a7a48 > .elementor-widget-container{margin:0px 0px 0px -90px;}.elementor-83654 .elementor-element.elementor-element-5662537 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-5662537:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-5662537 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-5662537 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-5662537 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-ca73fde .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-ca73fde .elementor-nav-menu--main .elementor-item{color:#667085;fill:#667085;padding-top:10px;padding-bottom:10px;}.elementor-83654 .elementor-element.elementor-element-ca73fde .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-ca73fde .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-ca73fde .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-ca73fde .elementor-nav-menu--main .elementor-item:focus{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-ca73fde > .elementor-widget-container{margin:0px 0px 0px -125px;}.elementor-83654 .elementor-element.elementor-element-c71384f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-83654 .elementor-element.elementor-element-c71384f:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-c71384f > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-c71384f > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-c71384f > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-16581a0c:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-16581a0c > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-16581a0c > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-83654 .elementor-element.elementor-element-16581a0c > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-5a29e8c7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-4d4dc020:not(.elementor-motion-effects-element-type-background), .elementor-83654 .elementor-element.elementor-element-4d4dc020 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-4d4dc020{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-83654 .elementor-element.elementor-element-4d4dc020 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-83654 .elementor-element.elementor-element-24635a83.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-83654 .elementor-element.elementor-element-24635a83.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-83654 .elementor-element.elementor-element-24635a83.elementor-column > .elementor-widget-wrap{justify-content:space-between;}.elementor-83654 .elementor-element.elementor-element-24635a83 > .elementor-element-populated{margin:0px 0px 0px 040px;--e-column-margin-right:0px;--e-column-margin-left:040px;}.elementor-83654 .elementor-element.elementor-element-24645c8b > .elementor-widget-container{margin:0px 0px 0px -25px;}.elementor-83654 .elementor-element.elementor-element-1d063fd9:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-83654 .elementor-element.elementor-element-1d063fd9 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-1d063fd9 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-83654 .elementor-element.elementor-element-1d063fd9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-repeater-item-5a6c537.elementor-social-icon{background-color:#98A2B3;}.elementor-83654 .elementor-element.elementor-element-778e6de6{--grid-template-columns:repeat(0, auto);--icon-size:23px;--grid-column-gap:30px;--grid-row-gap:0px;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-widget-container{text-align:right;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-social-icon{background-color:#F2F4F7;--icon-padding:0.5em;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-social-icon i{color:#98A2B3;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-social-icon svg{fill:#98A2B3;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-social-icon:hover i{color:#ff4800;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-social-icon:hover svg{fill:#ff4800;}.elementor-83654 .elementor-element.elementor-element-778e6de6 > .elementor-widget-container{margin:0px 20px 0px 0px;padding:0px 0px 0px 0px;background-color:#FFFFFF;}.elementor-83654 .elementor-element.elementor-element-2318e429:not(.elementor-motion-effects-element-type-background), .elementor-83654 .elementor-element.elementor-element-2318e429 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F4F7;}.elementor-83654 .elementor-element.elementor-element-2318e429{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-2318e429 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83654 .elementor-element.elementor-element-32a6f71d > .elementor-element-populated{margin:0px 0px 0px 40px;--e-column-margin-right:0px;--e-column-margin-left:40px;}.elementor-83654 .elementor-element.elementor-element-d01494e > .elementor-widget-container{margin:0px 0px 0px -138px;}.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu .elementor-item{font-family:"Roboto", Inter;font-size:14px;font-weight:400;line-height:14px;}.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu--main .elementor-item{color:#FF4800;fill:#FF4800;}.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu--main .elementor-item:focus{color:#AD3224;fill:#AD3224;}.elementor-83654 .elementor-element.elementor-element-681c8a75 > .elementor-widget-container{margin:0px 0px 0px -50px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-83654 .elementor-element.elementor-element-24635a83{width:50%;}.elementor-83654 .elementor-element.elementor-element-1d063fd9{width:50%;}.elementor-83654 .elementor-element.elementor-element-32a6f71d{width:25%;}.elementor-83654 .elementor-element.elementor-element-272f1c99{width:75%;}}@media(max-width:1024px){.elementor-83654 .elementor-element.elementor-element-44e1ac7d{padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-38737878 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-6ff66143 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-59357daf > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-1f7e7c42 .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-1f7e7c42 > .elementor-widget-container{margin:0px 0px 0px -46px;}.elementor-83654 .elementor-element.elementor-element-35f2af23 .elementor-divider-separator{width:75%;margin:0 auto;margin-left:0;}.elementor-83654 .elementor-element.elementor-element-35f2af23 .elementor-divider{text-align:left;}.elementor-83654 .elementor-element.elementor-element-1f7e657f .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;letter-spacing:0px;}.elementor-83654 .elementor-element.elementor-element-1f7e657f > .elementor-widget-container{margin:0px 0px 0px -15px;}.elementor-83654 .elementor-element.elementor-element-f8ab97c > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-5d0e2c5e > .elementor-widget-container{margin:0px 0px 0px 30px;}.elementor-83654 .elementor-element.elementor-element-57d8f121 .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-57d8f121 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-4c4158b9 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-399f9cc3 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-7ca7e7ff .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-7ca7e7ff > .elementor-widget-container{margin:0px 0px 0px -46px;}.elementor-83654 .elementor-element.elementor-element-6eb1c6f1 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-65625e6c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-205e11e5 .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-205e11e5 > .elementor-widget-container{margin:0px 0px 0px -41px;}.elementor-83654 .elementor-element.elementor-element-31afcce8 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-101574bd > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-52995279 .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-52995279 > .elementor-widget-container{margin:0px 0px 0px -9px;}.elementor-83654 .elementor-element.elementor-element-61198cc3{margin-top:30px;margin-bottom:20px;}.elementor-83654 .elementor-element.elementor-element-c5afec7 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-3763045 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-0bf2574 > .elementor-widget-container{margin:0px 0px 0px 30px;}.elementor-83654 .elementor-element.elementor-element-92a7a48 .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-92a7a48 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-5662537 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-8650e2d > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-ca73fde .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-ca73fde > .elementor-widget-container{margin:0px 0px 0px -46px;}.elementor-83654 .elementor-element.elementor-element-c71384f > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83654 .elementor-element.elementor-element-26c53371 > .elementor-widget-container{margin:0px 0px 0px 04px;}.elementor-83654 .elementor-element.elementor-element-5a29e8c7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-24635a83 > .elementor-element-populated{margin:0px 0px 0px -13px;--e-column-margin-right:0px;--e-column-margin-left:-13px;}.elementor-83654 .elementor-element.elementor-element-24645c8b > .elementor-widget-container{margin:0px -40px 0px 0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-1d063fd9 > .elementor-element-populated{margin:0px 0px 0px 70px;--e-column-margin-right:0px;--e-column-margin-left:70px;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-widget-container{text-align:right;}.elementor-83654 .elementor-element.elementor-element-778e6de6{--icon-size:20px;--grid-column-gap:13px;--grid-row-gap:10px;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-social-icon{--icon-padding:0.2em;}.elementor-83654 .elementor-element.elementor-element-778e6de6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-d01494e{font-size:1px;}.elementor-83654 .elementor-element.elementor-element-d01494e > .elementor-widget-container{margin:0px 0px 0px -117px;}.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu--main .elementor-item{padding-left:8px;padding-right:8px;}.elementor-83654 .elementor-element.elementor-element-681c8a75 > .elementor-widget-container{margin:0px -17px 0px 0px;}}@media(max-width:767px){.elementor-83654 .elementor-element.elementor-element-271d8e7c{padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-6ff66143 > .elementor-element-populated{margin:0px 20px 30px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-83654 .elementor-element.elementor-element-f8ab97c > .elementor-element-populated{margin:0px 20px 30px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-83654 .elementor-element.elementor-element-4c4158b9 > .elementor-element-populated{margin:0px 20px 30px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-83654 .elementor-element.elementor-element-31afcce8 > .elementor-element-populated{margin:0px 20px 30px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-83654 .elementor-element.elementor-element-c5afec7 > .elementor-element-populated{margin:0px 20px 30px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-83654 .elementor-element.elementor-element-3763045 > .elementor-element-populated{margin:0px 20px 30px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-83654 .elementor-element.elementor-element-5662537 > .elementor-element-populated{margin:0px 20px 30px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-83654 .elementor-element.elementor-element-4d4dc020{padding:10px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-24645c8b > .elementor-widget-container{margin:0px 0px 0px 18px;}.elementor-83654 .elementor-element.elementor-element-1d063fd9{width:100%;}.elementor-83654 .elementor-element.elementor-element-1d063fd9 > .elementor-element-populated{margin:0px 30px 0px 30px;--e-column-margin-right:30px;--e-column-margin-left:30px;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-widget-container{text-align:center;}.elementor-83654 .elementor-element.elementor-element-778e6de6{--icon-size:21px;--grid-column-gap:5px;}.elementor-83654 .elementor-element.elementor-element-778e6de6 .elementor-social-icon{--icon-padding:0.4em;}.elementor-83654 .elementor-element.elementor-element-778e6de6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-2318e429{margin-top:0px;margin-bottom:0px;}.elementor-83654 .elementor-element.elementor-element-32a6f71d > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-d01494e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu .elementor-item{font-size:12px;line-height:12px;}.elementor-83654 .elementor-element.elementor-element-681c8a75 .elementor-nav-menu--main .elementor-item{padding-left:6px;padding-right:6px;}.elementor-83654 .elementor-element.elementor-element-681c8a75 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-83654 .elementor-element.elementor-element-6ff66143{width:20%;}.elementor-83654 .elementor-element.elementor-element-f8ab97c{width:20%;}.elementor-83654 .elementor-element.elementor-element-4c4158b9{width:20%;}.elementor-83654 .elementor-element.elementor-element-6eb1c6f1{width:20%;}.elementor-83654 .elementor-element.elementor-element-31afcce8{width:20%;}.elementor-83654 .elementor-element.elementor-element-c5afec7{width:20%;}.elementor-83654 .elementor-element.elementor-element-3763045{width:20%;}.elementor-83654 .elementor-element.elementor-element-5662537{width:20%;}.elementor-83654 .elementor-element.elementor-element-c71384f{width:20%;}.elementor-83654 .elementor-element.elementor-element-16581a0c{width:20%;}.elementor-83654 .elementor-element.elementor-element-24635a83{width:50%;}.elementor-83654 .elementor-element.elementor-element-1d063fd9{width:50%;}.elementor-83654 .elementor-element.elementor-element-32a6f71d{width:48%;}.elementor-83654 .elementor-element.elementor-element-272f1c99{width:48%;}}/* Start custom CSS for html, class: .elementor-element-59357daf */.footer-menu-headings{
    font-size: 22px;
    line-height: 30px;
    color: #101828;
}
@media screen and (min-width:1025px){
    .footer-menu-headings{
    margin-left: -4px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1025px){
    #footer-heading{
        margin-left:30px;
    }
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-1f7e7c42 */@media only screen and (min-width: 1026px) and (max-width: 1199px){
    #footer-nav-menu{
        margin-left:36px;
    }
}
@media  only screen and (width:1025px) {
    #footer-nav-menu{
        margin-right:-48px;
    }
}

@media(max-width:990px) and (min-width:767px){
.reporting-tool-menu, .elementor-element-7ca7e7ff, .elementor-element-205e11e5{
    margin-left:-6px;
}
}/* End custom CSS */
/* Start custom CSS for divider, class: .elementor-element-35f2af23 */@media only screen and (min-width: 992px) and (max-width: 1024px){
    #line-break{
        width:75;
        margin-left:30px;
    }
}

@media only screen and (width: 1025px){
    #line-break{
        margin-left:30px;
    }
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-1f7e657f */@media only screen and (min-width: 992px) and (max-width: 1024px){
    #standalone-menu{
        margin-left:25px;
    }
}

@media only screen and (min-width: 1026px) and (max-width: 1199px){
    #standalone-menu{
        margin-left:35px;
    }
}
@media  only screen and (width:1025px) {
    #standalone-menu{
        width:150px;
        margin-right:-25px;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5d0e2c5e */#footer-menu-headings{
    font-size: 22px;
    line-height: 30px;
    color: #101828;
}
@media only screen and (min-width: 992px) and (max-width: 1025px){
    #footer-heading{
        margin-left:30px;
    }
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-57d8f121 */@media only screen and (min-width: 1026px) and (max-width: 1199px){
    #footer-nav-menu{
        margin-left:36px;
    }
}
@media  only screen and (width:1025px) {
    #footer-nav-menu{
        margin-right:-48px;
    }
}

.resource-footer-list-items-container{
    margin-left:5px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f8ab97c */@media (min-width:990px){
    #resource-footer-section{
    left:30px;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-399f9cc3 */#footer-menu-headings{
    font-size: 22px;
    line-height: 30px;
    color: #181b31;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-65625e6c */#footer-menu-headings{
    font-size: 22px;
    line-height: 30px;
    color: #181b31;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-205e11e5 */.menu-item-72423{
    display:none !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6eb1c6f1 */@media (max-width:991px) and (min-width:768px){
#col-section2-demo{
    
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-101574bd */#footer-menu-headings{
    font-size: 22px;
    line-height: 30px;
    color: #181b31;
}
@media screen and (min-width:1025px) and (max-width:2560px){
    .footer-company{
        margin-left:-25px !important;
    }
}
@media screen and (min-width:992px) and (max-width:1024px){
    .footer-company{
        margin-left:28px !important;
    }
}
@media screen and (max-width:991px){
    .footer-company{
        margin-left:10px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-31afcce8 */@media (max-width:991px) and (min-width:768px){
#col-section2-company{
    margin-left:-3
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-271d8e7c */@media (max-width:1024px){
    #footer-navmenu{
        font-size:12px;
    }
}
@media (min-width:1024px) and (max-width:769px){
    #footer-navmenu{
        font-size:12px;
        width:100%;
    }
    
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-38737878 */@media only screen and (max-width:767px){
#menu-column{
    display:none;
}
}
@media (min-width:1241px){
    #menu-column {
        margin-left:3%;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-44e1ac7d */#footer-section {
    margin-top:0px !important;
}
@media screen and (min-width:768px) and (max-width:991px){
    .resource-footer-list-items-container .elementor-widget-container{
    margin-left: -22px !important;
}
.footer-company-heading{
    margin-left: -32px !important;
}
.tab-footer-menu{
    margin-left: - 4px;
}
.resource-footer-menu .elementor-widget-container{
    margin-left:0 !important;
}
.customer-footermenu-listitems{
    margin-left:-30px;
}
}
@media (max-width:990px) and (min-width:767px){
    footer{
        padding-left:30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-0bf2574 */#footer-menu-headings{
    font-size: 22px;
    line-height: 30px;
    color: #101828;
}
@media only screen and (min-width: 992px) and (max-width: 1025px){
   .getting-footer-menu{
        margin-left:17px;
    }
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-92a7a48 */@media only screen and (min-width: 1026px) and (max-width: 1199px){
    #footer-nav-menu{
        margin-left:36px;
    }
}
@media  only screen and (width:1025px) {
    #footer-nav-menu{
        margin-right:-48px;
    }
}

.resource-footer-list-items-container{
    margin-left:5px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3763045 */@media (min-width:990px){
    #resource-footer-section{
    left:30px;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-8650e2d */#footer-menu-headings{
    font-size: 22px;
    line-height: 30px;
    color: #181b31;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-ca73fde */@media (min-width:990px) and (max-width:1024px){
    #alternative-sub-menu{
        margin-left:-26px;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-26c53371 */.contact-info
{
    font-family: inter;
    font-size: 14px;
       color:#667085;
}
.details{
    font-size: 14px;
    padding-bottom:4px;
}
.details a{
    color:#667085;
}
.details a:hover{
    color:#ff4800;
}
.details-title-phone{
    font-weight: 600;
     color:#98A2B3;
}
.details-title-email{
    font-weight: 600;
    margin-top: 10px;
     color:#98A2B3;
}

@media (max-width:1024px){
    .contact-info{
        font-size:12px;
    }
    .details{
        font-size:12px;
    }
    .details-title-email{
        font-size:12px;
    }
    
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c71384f */@media (min-width:992px) and (max-width:1025px){
#contact-information{
    width:17%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5a29e8c7 */.toll-heading{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    color:#98A2B3;
}
.toll-text{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 28px;
   color: #667085;
}
#contact-info-2{
    margin-left: -32px;
    margin-top: 30px;
}
#contact-fax{
    margin-top: 40px;
}
@media screen and (min-width:768px) and (max-width:992px){
    #contact-info-2{
    margin-left: 0px;
    margin-top: 30px;
}
#contact-fax{
    margin-top: 44px;
}
.toll-heading{
    font-size: 12px;
}
.toll-text{
    font-size: 12px;
}
#fax-number{
    font-size:11px !important;
}
}
@media screen and (min-width:993px) and (max-width:1024px){
    #contact-info-2{
    margin-left: 0px;
    margin-top: 30px;
}
#contact-fax{
    margin-top: 44px;
}
.toll-heading{
    font-size: 12px;
}
.toll-text{
    font-size: 12px;
}
#fax-number{
    font-size:11px !important;
}
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-16581a0c */@media (min-width:992px) and (max-width:1025px){
    #toll-free{
    width:17%;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-61198cc3 */@media (max-width:991px) and (min-width:768px){
#col-section2{
    margin:0p
}
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6033f04 */@media only screen and (max-width:767px){
#news-column{
    display:none;
}
}
@media (min-width:1241px){
    #news-column{
        margin-left:3%;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-24645c8b */.footer-img{
    width:200px;
}

@media screen and (max-width: 760px){
.footer-img{
    display: block;
    margin: auto;
}
}
@media (min-width:761px) and (max-width:767px){
    .footer-img{
        margin-left:150px;
    }
}
@media (min-width:768px) and (max-width:1025px){
.footer-img{
   margin-left:15px;
}
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-778e6de6 */.footer-social-icons {
    line-height: 15px;
    margin-left: -100px;
}
@media screen and (min-width:993px) and (max-width:1024px){
    .footer-social-icons{
        margin-left: -120px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .footer-social-icons{
        margin-left: -66px;
    }
}
@media screen and (max-width:767px){
    .footer-social-icons{
        margin-left: 0px;
    }
}
.footer-social-icons .elementor-repeater-item-5a6c537 {
    width:24px !important;
    height:24px !important;
}
.footer-social-icons .elementor-repeater-item-5a6c537 svg{
    width: 13px;
}
.footer-social-icons .elementor-repeater-item-5a6c537:hover{
    background-color: #ff4800 !important;
}
.footer-social-icons .elementor-repeater-item-5a6c537 svg{
    width: 13px;
}
@media screen and (max-width:1100px){
   .footer-social-icons .elementor-repeater-item-5a6c537 {
    width:20.5px !important;
    height:20.5px !important;

} 
.footer-social-icons .elementor-repeater-item-5a6c537 svg{
    width: 12px;
}
}

#social-icons-footer .elementor-grid {
    background: #F2F4F7;
}

    /* Your Safari-specific styles go here */
    .footer-social-icons .elementor-repeater-item-5a6c537 {
      margin-top: 10px !important; /* Example style */
    }/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-d01494e */#copyright-footer{
    text-align: center;
}
#copyright-footer a{
    text-align: center;
    color: #98A2B3;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
@media (max-width:1200px) and (min-width:1026px){
    #copyright-footer a{
        margin-left:-50;
        font-size:12px;
        line-height:14px;
        text-align:center;
    }
}
@media screen and (min-width:992px) and (max-width:1025px){
    #copyright-footer li a{
        margin-left:-140px;

    }
}
@media (max-width:990px) and (min-width:700px) {
    #copyright-footer a {
        margin-left:-12%;
    }
}

@media (max-width:1200px) and (min-width:1000px) {
    #copyright-footer a {
        margin-left:-34.5%;
    }
}
@media (min-width:1240px) {
    #copyright-footer {
        margin-left:7% !important;
    }
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-681c8a75 */@media only screen and (max-width: 767px){
    #footer-policies{
        text-align:
            center;
    }
    
}
@media only screen and (max-width: 1200px) and (min-width:1025px){
    #footer-policies{
        font-size:12px;
        line-height:14px;
        }
}/* End custom CSS */
/* Start custom CSS */.alert-msg-display{
    display:none !important;
}

.new-badge {
    margin-left: 5px;
    padding: 2px 8px;
    background-color: #ECFDF3;
    color: #027A48;
    border-radius: 25px;
    font-size: 12px;
}
.header-new-tag{
    color: #067647;
    background-color: #ECFDF3;
    margin-left: 8px;
    border: 1px solid #ABEFC6;
    padding: 3px 8px 1px 8px;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 9999px;
}/* End custom CSS */