.elementor-40715 .elementor-element.elementor-element-7b6f1a49 > .elementor-container{min-height:0px;}.elementor-40715 .elementor-element.elementor-element-7b6f1a49{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-3b7327cb > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-60526b84 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-30cb8f85 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-22f50f3e .elementor-icon-wrapper{text-align:center;}.elementor-40715 .elementor-element.elementor-element-22f50f3e .elementor-icon{font-size:19px;}.elementor-40715 .elementor-element.elementor-element-22f50f3e .elementor-icon svg{height:19px;}.elementor-40715 .elementor-element.elementor-element-22f50f3e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-2bdae3c > .elementor-container{max-width:1140px;}.elementor-40715 .elementor-element.elementor-element-2bdae3c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-2bdae3c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-40715 .elementor-element.elementor-element-708d21f.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-40715 .elementor-element.elementor-element-708d21f.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-40715 .elementor-element.elementor-element-708d21f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:15px;}.elementor-40715 .elementor-element.elementor-element-708d21f > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-28bf8ce > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-8c12f9a > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-4c70a4f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-2620a4b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-40715 .elementor-element.elementor-element-2620a4b > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-c062955 .elementor-button{font-family:"Inter", Inter;}.elementor-40715 .elementor-element.elementor-element-6630e70 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-40715 .elementor-element.elementor-element-6630e70 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-0f043e5 .elementor-button{font-family:"Inter", Inter;}.elementor-40715 .elementor-element.elementor-element-0f043e5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-5e63e04 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-40715 .elementor-element.elementor-element-5e63e04 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-2ca052f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-68f4c93{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-4c1de1f > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-30543e2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-40715 .elementor-element.elementor-element-7b6f1a49{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-60526b84 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-30cb8f85 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-2bdae3c{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-40715 .elementor-element.elementor-element-7b6f1a49{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-2bdae3c{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-40715 .elementor-element.elementor-element-4c70a4f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-40715 .elementor-element.elementor-element-3b7327cb{width:94.936%;}.elementor-40715 .elementor-element.elementor-element-30cb8f85{width:5%;}}@media(max-width:1024px) and (min-width:768px){.elementor-40715 .elementor-element.elementor-element-708d21f{width:23%;}}/* Start custom CSS for section, class: .elementor-element-7b6f1a49 */#webinar-popup {
    background-color: #6A30C9;
    z-index: 9999;
    position: relative;
    padding: 20px;
    display: none;
}

#webinar-popup .elementor-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#webinar-popup .elementor-column:last-child {
    width: 20px;
    height: 24px;
}

#webinar-close svg {
    cursor: pointer;
}

#release-popup-container {
    text-align: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

@media(min-width:990px){
    #release-popup-container{
            display: flex;
    }
}

#release-popup-container>div {
    margin: 0px;
}

#release-popup-announcement-img {
    height: 60px;
    position: absolute;
    margin: -29px 0px 0px -55px;
}

#release-popup-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.59px;
    font-family: "Inter" !important;
}

#release-popup-btn {
    font-family: "Inter" !important;
    background-color: #FFEA31;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.59px;
    white-space: nowrap;
}

#release-popup-btn:hover {
    background-color: #FFCC15 !important;
}

#webinar-popup-container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

#webinar-popup-container>div {
    margin: 0px;
}

#webinar-popup-announcement-img {
    width: 118px;
}

#webinar-popup-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.59px;
    font-family: "Inter" !important;
}

#webinar-popup-btn {
    font-family: "Inter" !important;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.59px;
    white-space: nowrap;
    color: #ffea31;
    text-decoration: underline !important;
}

#webinar-popup-btn:hover {
    color: #FFCC15 !important;
}

@media (max-width:1024px) {
    #webinar-popup-announcement-img {
        scale: 1.2;
        margin-left: 20px;
    }

    #webinar-popup-text {
        margin-left: 20px;
    }

}

@media (max-width:767px) {
    #release-popup-announcement-img {
        margin: 0;
        left: -20px;
        top: 0px;
        width: 60px;
    }

    #release-popup-text {
        padding-left: 35px;
        font-size: 12px;
        line-height: 18px;
        padding-bottom:10px;
    }

    #release-popup-container {
        gap: 0px;
    }

    #release-popup-btn {
        margin: 0 auto;
        width: 120px;
        font-size: 14px;
        padding: 5px 8px;
    }
    
    #release-popup-container>div:last-child{
        margin-top:10px;
    }

    #webinar-popup {
        padding: 15px;
    }

    #webinar-popup-container {
        flex-wrap: wrap;
        gap: 10px
    }

    #webinar-popup-announcement-img {
        scale: 1.0;
    }

    #webinar-popup-text {
        margin-left: 0px;
    }
}
#release-popup-hyperlink{
    color: #FFDE8A;
}

#release-popup-hyperlink:hover{
    color: #FFBF2B;
}
@media (max-width:990px) and (min-width:700px){
    #release-popup-announcement-img{
        left:30px;
        margin-top:-6px !important;
    }
    #release-popup-text{
        width:85%;
        position:relative;
        left:55px;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-28bf8ce */#site-logo-img {
    width: 180px !important;
    height: 38px !important;
}

@media (max-width:1199px){
    #site-logo-img{
        width:150px !important;
    }
    
    /*Demo page*/
    .page-id-73296 #site-logo-img {
        margin-top: -20px;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-01176d4 */ul.header-menu-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 7px;
    height: 45px;
}

ul.header-menu-list>li.header-menu-dropdown {
    position: relative;
}

ul.header-menu-list>li.header-menu-dropdown {
    cursor: pointer;
}

ul.header-menu-list>li.header-menu-dropdown>p,
ul.header-menu-list>li>a {
    font-family: "Inter" !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    color: #344054;
    padding: 0px;
    margin: 0px;
}

ul.header-menu-list>li.header-menu-dropdown:hover>p,
ul.header-menu-list>li:hover>a {
    color: #6941C6;
}

ul.header-menu-list>li.header-menu-dropdown>p:after {
    content: url(https://cdn.boldreports.com/website/images/header/down-arrow.svg);
    margin-left: 6px;
}

ul.header-menu-list>li.header-menu-dropdown:hover>p:after {
    content: url(https://cdn.boldreports.com/website/images/header/up-arrow.svg);
    transform: .3s ease-in-out
}

ul.header-menu-list .dropdown-list {
    display: none;
    position: absolute;
}

ul.header-menu-list .header-menu-dropdown:hover .dropdown-list {
    display: block;
    transition: all .5s ease-in-out;
}

.dropdown-list {
    background: #ffff;
    border: 1px solid #EAECF0;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 12px 64px -4px #900CCE33,
        0px 16px 64px -4px #2591DF2E;
}

.demo-dropdown ul li a,
.learning-support-dropdown ul li a,
.company-dropdown ul li a {
    display: block;
    padding: 10px !important;
    font-size: 15px;
    line-height: 22px;
    font-family: "Inter" !important;
    border-radius: 8px;
    font-weight: 500;
    color: #101828;
    white-space: nowrap;
}

.demo-dropdown ul li a:hover,
.learning-support-dropdown ul li a:hover,
.company-dropdown ul li a:hover {
    background: #F4EBFF;
    color: #6941C6;
}

.demo-dropdown-container,
.company-dropdown-container {
    width: 220px;
    margin-top: 12px;
    margin-left: -70px;
}

.learning-support-dropdown-container {
    padding: 0px;
    margin-left: -125px;
    margin-top: 12px;
    width: 460px;
}

.learning-support-dropdown {
    display: flex;
}

.learning-support-dropdown>div:first-child {
    border-right: 2px solid #FBF8FCF0;
    padding: 16px;
    width: 50%;
}

.learning-support-dropdown>div:last-child {
    padding: 16px;
    width: 50%;
}

.learning-heading,
.support-heading {
    font-family: "Inter" !important;
    font-size: 16px;
    font-weight: 600;
    color: #344054;
    margin-left: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaecf0;
}

.features-dropdown-container {
    width: 1145px;
    margin-left: -230px;
    margin-top: 12px;
}

.features-dropdown-top {
    border-bottom: 1.5px solid #EAECF0;
}

.features-dropdown-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding: 30px 15px 15px 15px;
}

.features-dropdown-top {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.features-dropdown-top>div:first-child {
    margin: 8px 0px 0px 14px;
}

.features-dropdown-top>div:first-child img {
    position: absolute;
    margin-left: -45px;
}

.features-dropdown-top>div:first-child a {
    display: block;
    padding-left: 40px;
}

.features-dropdown-top .features-heading {
    font-weight: 600;
    font-size: 14px;
}

.features-dropdown-top>div:last-child {
    margin-right: 14px;
}

.features-dropdown-bottom>div {
    width: calc((100% - 28px * 2)/ 3);
    margin: 0px;
}

.features-dropdown-bottom img {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -45px;
}

.features-dropdown-bottom a {
    display: block;
    padding-left: 45px;
}

.features-dropdown .features-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #101828;
    font-family: "Inter" !important;
}

.features-dropdown .features-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #344054;
    font-family: "Inter" !important;
    margin-top: 6px;
}

.view-features-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #6941C6;
    font-family: "Inter" !important;
}

.view-features-link:hover {
    color: #53389E !important;
}

.view-features-link img {
    margin-left: 6px;
}

.features-dropdown .view-features-link:hover img {
    scale: 1.0 !important;
}

.features-dropdown a:hover img {
    scale: 1.2;
    transition: 0.5s ease;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-4c70a4f */#header-search-form {
    display: none;
}

#header-search-icon {
    width: 24px !important;
    height: 24px !important;
    margin-top: 9px;
    cursor: pointer;
}

form#header-search-form {
    position: absolute;
    top: -2px;
    right: 0px;
    z-index: 1;
}

form#header-search-form input {
    width: 101%;
    outline: none !important;
    padding: 20px;
    background-color: #fff;
    border: 1px rgba(0, 0, 0, .1) solid;
    box-shadow: none;
    width: 603px;
    border: 1px solid #cbd5e1 !important;
    border-radius: 28px !important;
    height: 48px;
    color: #828893 !important;
}

form#header-search-form input::placeholder {
    color: #828893 !important;
}

#header-search-close-icon {
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 3;
    cursor: pointer;
}

@media (max-width:1199px) {
    #header-search-icon {
        margin: 0px;
    }

    form#header-search-form input {
        width: 500px;
        height: 35px;
        margin-top: -4px;
    }

    #header-search-close-icon {
        margin-top: -7px;
    }

}

@media (max-width:767px) {

    form#header-search-form input {
        width: 240px;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-c062955 */.book-a-demo-button a{
    white-space: nowrap;
    width: 121px;
    height: 40px;
    padding: 10px 14px 10px 14px;
    border-radius: 8px;
    border: 1px solid #7F56D9;
    background: #FFFFFF;
    color: #6941C6 !important;
    font-family: "Inter" !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.book-a-demo-button a span{
    font-family: "Inter" !important;
}

.book-a-demo-button a:hover{
    background: #F9F5FF;
    color: #6941C6;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-0f043e5 */.try-it-for-free-button a{
    white-space: nowrap;
    width: 123px;
    height: 40px;
    padding: 10px 14px 10px 14px;
    border-radius: 8px;
    border: 1px solid #7F56D9;
    background: #7F56D9;
    color: #FFFFFF;
    font-family: "Inter" !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.try-it-for-free-button a span{
    font-family: "Inter" !important;
}

.try-it-for-free-button a:hover{
    background: #6941C6;
    color: #FFFFFF;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2ca052f */#user-login-icon {
    width: 40px;
    height: 40px;
}

#mobile-header-collapse-menu{
    display: none;
    cursor: pointer;
}

@media (max-width:1200px){
    #login-icon{
        display:none;
    }
    
    #mobile-header-collapse-menu {
        display:block;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2bdae3c *//*New CSS*/
#top-header.header-background {
    background: #fff !important;
}

#top-header.elementor-sticky--effects {
    background: #ffff;
    z-index: 999;
    /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08)*/
}

#top-header {
    padding-top: 17px;
    height: 76px !important;
    position: relative;
    z-index: 999;
    margin-bottom: -76px;
    margin-left:0px;
}

#top-header .elementor-container {
    flex-wrap: nowrap;
    align-content: center;
}

#top-header .elementor-column {
    margin: 0px;
}

#top-header .elementor-column:first-child {
    width: 300px;
}

#top-header .elementor-column:nth-child(2) {
    width: 100%;
}

#top-header .elementor-column:nth-child(3) {
    width: 40px;
    margin-right: 24px;
}

#top-header .elementor-column:nth-child(4) {
    width: 121px;
    margin-right: 12px;
}

#top-header .elementor-column:nth-child(5) {
    width: 123px;
    margin-right: 12px;
}

#top-header .elementor-column:nth-child(6) {
    width: 73px;
}

#top-header .elementor-container.elementor-column-gap-default {
    padding: 0px !important;
}

#top-header .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0px !important;
}

/*Demo page hide*/
.page-id-73296 #header .elementor-column:not(:first-child) {
    display: none !important;
}

@media(max-width:1199px) {
    #top-header {
        padding: 10px 20px;
        min-height: 60px !important;
        max-height: 60px !important;
    }

    #top-header .elementor-container {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    #top-header .elementor-column {
        display: none;
    }

    #top-header .elementor-column:first-child,
    #top-header .elementor-column:nth-child(3),
    #top-header .elementor-column:nth-child(6) {
        display: block;
        margin: 0;
        width: 100%;
    }

    #top-header .elementor-column:nth-child(3) {
        width: 20px;
        margin-right: 15px;
    }

    #top-header .elementor-column:nth-child(6) {
        width: 35px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-68f4c93 */#mobile-header-section {
    width: 100%;
    height: 100vh;
    background: rgba(12, 17, 29, 0.5);
    position: fixed;
    z-index: 999999999;
    display: none;
    top:0px;
}

#mobile-header-menu-container {
    width: 330px;
    background: white;
    position: absolute;
    right: 0px;
}

#mobile-header-menu-container>div:last-child {
    height: calc(100vh - 56px);
    overflow-y: auto;
}

#mobile-header-logo {
    height: 56px !important;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAECF0;
}

#mobile-header-logo a {
    display: block;
}

#mobile-header-logo img:first-child {
    width: 150px !important;
    margin-left: 22px !important;
}

#mobile-header-logo img:last-child {
    margin-right: 16px;
    width: 24px;
}

.mobile-dropdown-list {
    display: none;
}

.mobile-header-menu-mobile-list {
    padding: 0px 12px 12px 12px;
    display: block;
}

.mobile-header-menu-mobile-list>li,
.mobile-header-menu-mobile-list>li.active {
    border-bottom: 1px solid #EAECF0 !important;
    position: relative !important;
    cursor: pointer;
}

.mobile-header-menu-dropdown>p,
.mobile-header-menu-mobile-list>li>a {
    color: #101828 !important;
    font-family: "Inter" !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 15px 10px;
    margin-top: 1px;
    display: block;
}

.mobile-header-menu-dropdown.active>p {
    color: #7F56D9 !important;
}

.mobile-header-menu-dropdown>p:after {
    content: url(https://cdn.boldreports.com/website/images/header/down-arrow.svg);
    position: absolute;
    right: 22px;
}

.mobile-header-menu-dropdown.active>p:after {
    content: url(https://cdn.boldreports.com/website/images/header/up-arrow.svg);
    transform: .5s ease-in-out;
}

.mobile-dropdown-list ul {
    padding: 0px 12px 12px 12px;
}

.mobile-dropdown-list ul>li>a {
    display: block;
    padding: 10px;
    font-family: "Inter" !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #344054 !important;
}

.mobile-learning-support-dropdown {
    padding: 0px 10px 10px 10px;
}

.mobile-learning-heading,
.mobile-support-heading {
    color: #667085 !important;
    font-family: "Inter" !important;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.mobile-features-dropdown {
    padding: 10px 10px 17px 10px;
}

.mobile-features-dropdown a img {
    position: absolute;
}

.mobile-features-dropdown .features-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #101828 !important;
    font-family: "Inter" !important;
    margin-left: 50px;
}

.mobile-features-dropdown .features-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #344054 !important;
    font-family: "Inter" !important;
    margin-top: 6px;
    margin-left: 50px;
}

.mobile-features-dropdown-bottom {
    margin-top: 20px;
}

.mobile-features-dropdown-bottom>div>a {
    display: block;
    margin-bottom: 20px
}

.mobile-features-dropdown .view-features-link {
    color: #7F56D9 !important;
    font-family: "Inter" !important;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    display: block;
    margin: 10px 0px 40px 50px;
}

.mobile-features-dropdown .view-features-link img {
    margin-top: -1px;
}

#mobile-header-buttons {
    margin: 22px;
    margin-top: 50px;
    text-align: center;
}

#mobile-header-buttons a {
    font-family: "Inter" !important;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    display: block;
    padding: 8px 14px 8px 14px;
    height: 48px;
    border-radius: 8px;
}

#mobile-book-a-demo-btn {
    border: 1px solid #7F56D9;
    color: #6941C6 !important;
}

#mobile-try-free-btn {
    margin-top: 10px;
    border: 1px solid #6844C9;
    color: #FFFFFF !important;
    background: #6844C9;
}

#mobile-sign-in-btn {
    color: #6941C6 !important;
}

.mobile-header-slide-in {
    animation: slide-right-to-left 0.6s forwards;
}

.mobile-header-slide-out {
    animation: slide-left-to-right 0.6s forwards;
}

@keyframes slide-right-to-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-left-to-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@media (max-width:359px) {
    #mobile-header-menu-container {
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS */#embedded-reporting-header #mega-menu-item-46805 .mega-sub-menu{
    left: unset !important;
  	right: 102% !important;
}
#embedded-reporting-header .mega-menu-link{
    color:#2d3748 !important;

}
/*demo section*/
#mega-menu-item-81043 a,#mega-menu-item-81044 a,#mega-menu-item-81045 a{
    letter-spacing: 0.3px !important;
            color:#334155 !important;
    font-family: Roboto !important;
font-style: normal;
font-weight: 400;
    font-size:14px !important;
    background: none !important;
    display: block !important;
    position:relative !important;
    margin-bottom: 3px !important;
}
/*feature menu*/
 @media only screen and (min-width:991px) and (max-width:1024px){
    #mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3.mega-menu-horizontal li#mega-menu-item-69826.mega-menu-megamenu>ul.mega-sub-menu{
    width:900px !important;
    left:-69px !important;
} 
 }
 @media only screen and (min-width:1025px) and (max-width:1110px){
    #mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3.mega-menu-horizontal li#mega-menu-item-69826.mega-menu-megamenu>ul.mega-sub-menu{
    left:-69px !important;
    width:900px !important;
}
}
 @media only screen and (min-width:1110px) and (max-width:1300px){
#mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3.mega-menu-horizontal li#mega-menu-item-69826.mega-menu-megamenu>ul.mega-sub-menu{
      width:900px !important;
    left:-69px !important;
}
}
 @media only screen and (min-width:1300px){
#mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3.mega-menu-horizontal li#mega-menu-item-69826.mega-menu-megamenu>ul.mega-sub-menu{
    width:1180px !important;
    left:-215px !important;
}
#mega-menu-69826-1-0{
    width:30.3333% !important;
    margin-left:13px !important;
}
#mega-menu-69826-1-1{
    width:30.3333% !important;
    margin-left:20px !important;
}
#mega-menu-69826-1-2{
    width:30.3333% !important;
    margin-left:10px !important;
}
#mega-menu-69826-0 .productmenu-heading img{
    margin-left:13px !important;
}
}
@media only screen and (min-width:1199px){
#business-report a{
    width:400px !important;
}
}

#mega-menu-item-81204 a:hover,#mega-menu-item-81205 a:hover,#mega-menu-item-81206 a:hover{
    color:#ff4800 !important;
}
#embedded-reporting-header #mega-menu-item-46805 .mega-sub-menu{
    left: unset !important;
  	right: 102% !important;
}
#embedded-reporting-header .mega-menu-link{
    color:#2d3748 !important;

}
/*styles for learning & support menu*/
/*red*/
 @media only screen and (min-width: 991px){
     #mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3.mega-menu-horizontal li#mega-menu-item-73448.mega-menu-megamenu>ul.mega-sub-menu {
         width: 402px !important;
        left: 190px !important;
        margin-top: 5px;
        color:#2d3748 !important;
        height:auto !important;
        background-color:white !important;
}
}
#learning-menu-ul-0 a:hover li,#learning-menu-ul-2 a:hover li{
    color:#ff4800 !important;
}


#mega-menu-73448-0{
    padding: 24px 12px 30px 12px !important;
}

.learning-menu-container h3{
     color:#334155 !important;
      font-family: Roboto  !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 19px !important;
line-height: 33px !important;
text-transform: capitalize !important;
letter-spacing: 0.3px !important;
}

.learning-menu-ul li{
    list-style-type: none !important;
    padding: 11px 0px 11px 8px !important;
    border-radius: 4px !important;

}
#mega-menu-73448-0-0{
    border-right:1px solid #e6e6e6 !important;
}
.learning-menu-ul{
    /*border-right: 1px solid #e6e6e6;*/
    padding-right: 50px;
    padding-left:26px;

}
#learning-menu-ul-0{
    padding-left: 0px !important;
}
#learning-menu-ul-2{
    padding-right: 0px !important;
    border: none !important;
}
.learning-menu-container .learning-title{
    padding-left: 8px !important;
    margin-bottom: 10px;
    font-weight: 500 !important;
    font-size: 16px !important;
}
.learning-menu-container .resources-title, .learning-menu-container .support-title{
    padding-left: 34px !important;
    margin-bottom: 10px;
        font-weight: 500 !important;
    font-size: 16px !important;
}
#mega-menu-73448-0-0, #mega-menu-73448-0-1{
    margin-left: -8px !important; 
}
#mega-menu-73448-0-0{
    width: 50% !important;
}
#mega-menu-73448-0-1{
    width: 50% !important;
}


.learning-menu-ul li{
    font-size: 14px !important;
    font-weight: 400 !important;
font-style: normal !important;
font-family: Roboto !important;
color: #334155 !important;
letter-spacing: 0.3px !important;
}

/*red*/
@media screen and (max-width:991px){
    #mega-menu-73448-0-0, #mega-menu-73448-0-1 {
    width:100% !important; 
}
.learning-menu-container .learning-title, .learning-menu-container .resources-title, .learning-menu-container .support-title{
    padding-left: 30px !important;
}
.learning-menu-container .learning-title{
    padding-top: 24px;
}
.learning-menu-container .resources-title, .learning-menu-container .support-title{
    padding-top: 16px !important;
}
.learning-menu-ul{
    border: none !important;
}
/*for tab mobile view links*/
#mega-menu-item-73448>ul, #mega-menu-73448-0, .learning-menu-ul{
    padding:0px !important;
}
#mega-menu-73448-0-0, #mega-menu-73448-0-1 {
    margin-left: 0px !important; 
}
.learning-menu-ul li{
    padding: 11px 30px 11px 30px;
}
}
/*Demo menu font customization*/
#mega-menu-item-81043 a,#mega-menu-item-81044 a,#mega-menu-item-81045 a{
        color:#334155 !important;
    font-family: Roboto !important;
font-style: normal;
font-weight: 400;
    font-size:14px !important;
    background: none !important;
    display: block !important;
    position:relative !important;
    margin-bottom: 3px !important;
}
#mega-menu-item-81043 a:hover,#mega-menu-item-81044 a:hover,#mega-menu-item-81045 a:hover{
    color:#ff4800 !important;
}
/*company menu font customization*/
#mega-menu-item-22152 a, #mega-menu-item-22153 a, #mega-menu-item-73165 a, #mega-menu-item-22154 a,#mega-menu-item-87652 a,#mega-menu-item-89564 a,#mega-menu-item-91469 a{
    color:#334155 !important;
    font-family: Roboto !important;
font-style: normal;
font-weight: 400;
    font-size:14px !important;
    background: none !important;
    display: block !important;
    position:relative !important;
    margin-bottom: 3px !important;
       letter-spacing: 0.3px !important;
}
#mega-menu-item-22152 a:hover, #mega-menu-item-22153 a:hover, #mega-menu-item-73165 a:hover, #mega-menu-item-22154 a:hover,#mega-menu-item-87652 a:hover,#mega-menu-item-89564 a:hover,#mega-menu-item-91469 a:hover {
    color:#ff4800 !important;
}
/*red*/
@media screen and (max-width:991px){
    #learning-menu-ul-1{
    margin-top:0px !important;
}
}

/*menu-tab*/
/*red*/
 @media only screen and (max-width: 991px){
     #mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3 > li.mega-menu-item > a.mega-menu-link{
font-family: 'Roboto' !important;
font-style: normal !important;
font-weight: 600 ;
font-size: 16px !important;
line-height: 150% !important;
background: #FFFFFF !important;


color: #1E293B !important;
}

.schedule-demo-btn-tab-view{
    margin-top:30px !important;
    /*border-radius: 32px !important;*/
}
.mega-menu-horizontal > * + li{
    border-bottom:none !important;
}

#mega-menu-max_mega_menu_3{
  /*background: #FFFFFF !important;*/
  border-radius: 0px 16px 16px 0px !important;
}

 }

/*blue*/
  @media only screen and (min-width:1025px) and (max-width:1199px){
      #mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3{
    margin-left:-82px !important;   
    left: 20px;
    margin-top: 5px;
}
  }
  
/* header features content */

  @media only screen and (min-width:320px) and (max-width:991px){
     #learning-menu-ul-0,#learning-menu-ul-2{
    margin-left:40px !important;
       margin-top:-10px !important;
       line-height:15px;
}
#mega-menu-item-custom_html-22 .learning-title{
    font-size:16px !important;
    margin-top:-25px !important;
}
#mega-menu-item-custom_html-24 .support-title{
     font-size:16px !important;
      margin-top:-15px !important;
}
#mega-menu-item-22151 ul{
    margin-top:-15px !important;
}
#mega-menu-item-22152 a,#mega-menu-item-22153 a,#mega-menu-item-22154 a,#mega-menu-item-73165 a{
    line-height:15px !important;
  }
}

  @media only screen and (min-width:991px){
        #all-features{
      margin-top:35px !important;
  }
  }

  @media only screen and (max-width:991px){
        #all-features{
     margin-left: 0px !important;
    margin-top: 40px !important;
    margin-bottom:70px !important;
  }
  }
  @media only screen and (min-width:991px) and (max-width:1300px){
#business-report{
    width:400px !important;
}
#all-features{
    margin-left:220px !important;
}
}

/*toggle*/
@media (max-width:992px){
    #mega-menu-wrap-max_mega_menu_3 .mega-menu-toggle.mega-menu-open + #mega-menu-max_mega_menu_3 {
        background:white !important;
    }
}
@media (max-width:991px){
#mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3 li#mega-menu-item-22158 .mega-search.mega-search-closed input[type=text]{
    display:none !important;
}
#mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3 li#mega-menu-item-22158 .mega-search .search-icon{
      display:none !important;
}
}

/*header section*/
@media (min-width:991px){
    #embedded-reporting-header{
        display:none !important;
    }
}


@media (max-width:991px){
    #header-main-menu-top{
        display:none !important;
    }
}

/*hide backdrop filter in feature menu for customer,about and contact pages */
.page-id-10492 #mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3.mega-menu-horizontal li#mega-menu-item-69826.mega-menu-megamenu>ul.mega-sub-menu,.page-id-11486 #mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3.mega-menu-horizontal li#mega-menu-item-69826.mega-menu-megamenu>ul.mega-sub-menu,.page-id-12876 #mega-menu-wrap-max_mega_menu_3 #mega-menu-max_mega_menu_3.mega-menu-horizontal li#mega-menu-item-69826.mega-menu-megamenu>ul.mega-sub-menu{
    background-color: white !important;
}

/*hiding schedule free demo button*/
@media (min-width:2560px){
    .schedule-demo-btn-tab-view{
        display:none !important;
    }
}/* End custom CSS */