.elementor-12876 .elementor-element.elementor-element-8be416d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-80px;margin-bottom:0px;padding:86px 0px 86px 0px;}.elementor-12876 .elementor-element.elementor-element-8be416d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12876 .elementor-element.elementor-element-43c2e31{text-align:center;}.elementor-12876 .elementor-element.elementor-element-43c2e31 .elementor-heading-title{color:#ffffff;font-family:"Roboto", Inter;font-size:20px;font-weight:500;font-style:normal;line-height:30px;letter-spacing:1px;}.elementor-12876 .elementor-element.elementor-element-43c2e31 > .elementor-widget-container{margin:0px 0px -4px 0px;}.elementor-12876 .elementor-element.elementor-element-94e85cd{text-align:center;}.elementor-12876 .elementor-element.elementor-element-94e85cd .elementor-heading-title{color:#ffffff;font-family:"futura-pt", Inter;font-size:44px;font-weight:800;font-style:normal;line-height:60px;text-shadow:0px 0px 0px rgba(0,0,0,0.3);}.elementor-12876 .elementor-element.elementor-element-367c1f9{padding:72px 0px 96px 0px;}.elementor-12876 .elementor-element.elementor-element-8dd7be0 > .elementor-element-populated{padding:0px 70px 0px 0px;}.elementor-12876 .elementor-element.elementor-element-1bef29f .elementor-image-box-wrapper{text-align:left;}.elementor-12876 .elementor-element.elementor-element-1bef29f.elementor-position-right .elementor-image-box-img{margin-left:17px;}.elementor-12876 .elementor-element.elementor-element-1bef29f.elementor-position-left .elementor-image-box-img{margin-right:17px;}.elementor-12876 .elementor-element.elementor-element-1bef29f.elementor-position-top .elementor-image-box-img{margin-bottom:17px;}.elementor-12876 .elementor-element.elementor-element-1bef29f .elementor-image-box-img img{transition-duration:0.3s;}.elementor-12876 .elementor-element.elementor-element-1bef29f .elementor-image-box-title{color:#334155;font-family:"futura-pt", Inter;font-size:28px;font-weight:800;font-style:normal;line-height:35px;}.elementor-12876 .elementor-element.elementor-element-1bef29f .elementor-image-box-description{color:#334155;font-family:"Roboto", Inter;font-size:18px;font-weight:400;line-height:27px;}.elementor-12876 .elementor-element.elementor-element-1bef29f > .elementor-widget-container{padding:35px 0px 59px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#eeeeee;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 .elementor-image-box-wrapper{text-align:left;}.elementor-12876 .elementor-element.elementor-element-e1aefa0.elementor-position-right .elementor-image-box-img{margin-left:17px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0.elementor-position-left .elementor-image-box-img{margin-right:17px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0.elementor-position-top .elementor-image-box-img{margin-bottom:17px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 .elementor-image-box-img img{transition-duration:0.3s;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 .elementor-image-box-title{color:#334155;font-family:"futura-pt", Inter;font-size:28px;line-height:35px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 .elementor-image-box-description{color:#334155;font-family:"Roboto", Inter;font-size:18px;line-height:27px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 > .elementor-widget-container{padding:40px 0px 59px 0px;}.elementor-12876 .elementor-element.elementor-element-194a2d3 > .elementor-element-populated, .elementor-12876 .elementor-element.elementor-element-194a2d3 > .elementor-element-populated > .elementor-background-overlay, .elementor-12876 .elementor-element.elementor-element-194a2d3 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-12876 .elementor-element.elementor-element-194a2d3 > .elementor-element-populated{box-shadow:0px 0px 12px 0px rgba(0,0,0,0.08);margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-12876 .elementor-element.elementor-element-4fb06e6{text-align:center;}.elementor-12876 .elementor-element.elementor-element-4fb06e6 .elementor-heading-title{color:#101828;font-size:32px;line-height:38px;}.elementor-12876 .elementor-element.elementor-element-4fb06e6 > .elementor-widget-container{padding:40px 0px 20px 0px;}.elementor-12876 .elementor-element.elementor-element-7e821ce > .elementor-widget-container{padding:0px 40px 40px 40px;}.elementor-12876 .elementor-element.elementor-element-d6a05b5:not(.elementor-motion-effects-element-type-background), .elementor-12876 .elementor-element.elementor-element-d6a05b5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f8f8f8;}.elementor-12876 .elementor-element.elementor-element-d6a05b5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:086px 0px 72px 0px;}.elementor-12876 .elementor-element.elementor-element-d6a05b5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12876 .elementor-element.elementor-element-fe3c273{text-align:center;}.elementor-12876 .elementor-element.elementor-element-fe3c273 .elementor-heading-title{color:#334155;font-family:"futura-pt", Inter;font-size:38px;font-weight:600;line-height:40px;letter-spacing:0.1px;}.elementor-12876 .elementor-element.elementor-element-2772f74:not(.elementor-motion-effects-element-type-background), .elementor-12876 .elementor-element.elementor-element-2772f74 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F8F8F8;}.elementor-12876 .elementor-element.elementor-element-2772f74{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 375px 0px;}.elementor-12876 .elementor-element.elementor-element-2772f74 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-12876 .elementor-element.elementor-element-383ffc8.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-12876 .elementor-element.elementor-element-383ffc8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-12876 .elementor-element.elementor-element-383ffc8:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-12876 .elementor-element.elementor-element-383ffc8 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-12876 .elementor-element.elementor-element-383ffc8 > .elementor-element-populated{box-shadow:0px 5px 10px 0px rgba(0,0,0,0.06);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;padding:40px 0px 80px 0px;}.elementor-12876 .elementor-element.elementor-element-383ffc8:hover > .elementor-element-populated{box-shadow:0px 10px 20px 0px rgba(0,0,0,0.06);}.elementor-12876 .elementor-element.elementor-element-383ffc8 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12876 .elementor-element.elementor-element-90a62db .elementor-image-box-wrapper{text-align:left;}.elementor-12876 .elementor-element.elementor-element-90a62db .elementor-image-box-title{color:#ff4800;font-family:"futura-pt", Inter;font-size:28px;font-weight:800;line-height:38px;}.elementor-12876 .elementor-element.elementor-element-90a62db .elementor-image-box-description{color:#334155;font-family:"Roboto", Inter;font-size:16px;font-weight:400;line-height:26px;letter-spacing:0.1px;}.elementor-12876 .elementor-element.elementor-element-90a62db > .elementor-widget-container{padding:0px 0px 10px 50px;}.elementor-12876 .elementor-element.elementor-element-a00bdb6{color:#334155;font-family:"Roboto", Inter;font-size:16px;font-weight:400;line-height:26px;}.elementor-12876 .elementor-element.elementor-element-a00bdb6 > .elementor-widget-container{padding:0px 0px 0px 50px;}.elementor-12876 .elementor-element.elementor-element-625ae60{color:#334155;font-family:"Roboto", Inter;font-size:16px;font-weight:400;line-height:26px;}.elementor-12876 .elementor-element.elementor-element-625ae60 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 50px;}.elementor-bc-flex-widget .elementor-12876 .elementor-element.elementor-element-6ad3ea0.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-12876 .elementor-element.elementor-element-6ad3ea0.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-12876 .elementor-element.elementor-element-6ad3ea0:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-12876 .elementor-element.elementor-element-6ad3ea0 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-12876 .elementor-element.elementor-element-6ad3ea0 > .elementor-element-populated{box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.06);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 20px;--e-column-margin-right:0px;--e-column-margin-left:20px;padding:40px 0px 80px 0px;}.elementor-12876 .elementor-element.elementor-element-6ad3ea0:hover > .elementor-element-populated{box-shadow:0px 10px 20px 0px rgba(0,0,0,0.06);}.elementor-12876 .elementor-element.elementor-element-6ad3ea0 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12876 .elementor-element.elementor-element-114fb96 .elementor-image-box-wrapper{text-align:left;}.elementor-12876 .elementor-element.elementor-element-114fb96 .elementor-image-box-title{color:#ff4800;font-family:"futura-pt", Inter;font-size:28px;font-weight:800;line-height:20px;}.elementor-12876 .elementor-element.elementor-element-114fb96 .elementor-image-box-description{color:#334155;font-family:"Roboto", Inter;font-size:16px;font-weight:400;line-height:32px;letter-spacing:0.2px;}.elementor-12876 .elementor-element.elementor-element-114fb96 > .elementor-widget-container{margin:0px 50px 0px 50px;padding:0px 0px 17px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#eeeeee;border-radius:0px 0px 0px 0px;}.elementor-12876 .elementor-element.elementor-element-ecefc7a{color:#334155;font-family:"Roboto", Inter;font-size:16px;font-weight:400;line-height:32px;letter-spacing:0.2px;}.elementor-12876 .elementor-element.elementor-element-ecefc7a > .elementor-widget-container{margin:-3px 50px 0px 50px;padding:0px 0px 10px 0px;}.elementor-12876 .elementor-element.elementor-element-8f389b2{color:#334155;font-family:"Roboto", Inter;font-size:16px;font-weight:400;line-height:26px;}.elementor-12876 .elementor-element.elementor-element-8f389b2 > .elementor-widget-container{margin:-13px 0px 0px 0px;padding:0px 0px 0px 50px;}.elementor-12876 .elementor-element.elementor-element-cce4838{margin-top:-350px;margin-bottom:100px;}.elementor-bc-flex-widget .elementor-12876 .elementor-element.elementor-element-20981f4.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-12876 .elementor-element.elementor-element-20981f4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-12876 .elementor-element.elementor-element-20981f4:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-12876 .elementor-element.elementor-element-20981f4 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-12876 .elementor-element.elementor-element-20981f4 > .elementor-element-populated{box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.06);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;padding:40px 0px 57px 0px;}.elementor-12876 .elementor-element.elementor-element-20981f4 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12876 .elementor-element.elementor-element-1e4ce2e .elementor-image-box-wrapper{text-align:left;}.elementor-12876 .elementor-element.elementor-element-1e4ce2e .elementor-image-box-title{color:#FF4800;font-family:"futura-pt", Inter;font-size:28px;font-weight:800;}.elementor-12876 .elementor-element.elementor-element-1e4ce2e .elementor-image-box-description{color:#334155;font-family:"Roboto", Inter;font-size:16px;font-weight:400;line-height:26px;}.elementor-12876 .elementor-element.elementor-element-1e4ce2e > .elementor-widget-container{padding:0px 0px 10px 50px;}.elementor-12876 .elementor-element.elementor-element-b3f9ee5:not(.elementor-motion-effects-element-type-background), .elementor-12876 .elementor-element.elementor-element-b3f9ee5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.boldreports.com/wp-content/uploads/2024/11/connect-with-us-bg-scaled.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-12876 .elementor-element.elementor-element-b3f9ee5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 100px 0px;}.elementor-12876 .elementor-element.elementor-element-b3f9ee5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12876 .elementor-element.elementor-element-cf15b49 > .elementor-element-populated{margin:0px 20px 0px 2px;--e-column-margin-right:20px;--e-column-margin-left:2px;}.elementor-12876 .elementor-element.elementor-element-7952860{text-align:center;}.elementor-12876 .elementor-element.elementor-element-7952860 .elementor-heading-title{color:#0F0C0C;font-size:40px;font-weight:700;text-transform:capitalize;}.elementor-12876 .elementor-element.elementor-element-7952860 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-12876 .elementor-element.elementor-element-47042fe .elementor-repeater-item-2c4acf1.elementor-social-icon{background-color:#1DA1F2;}.elementor-12876 .elementor-element.elementor-element-47042fe{--grid-template-columns:repeat(0, auto);--grid-column-gap:18px;--grid-row-gap:0px;}.elementor-12876 .elementor-element.elementor-element-47042fe .elementor-widget-container{text-align:center;}.elementor-12876 .elementor-element.elementor-element-47042fe > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-12876 .elementor-element.elementor-element-383ffc8{width:49.985%;}.elementor-12876 .elementor-element.elementor-element-6ad3ea0{width:50%;}}@media(max-width:1024px){.elementor-12876 .elementor-element.elementor-element-8be416d{padding:100px 0px 100px 0px;}.elementor-12876 .elementor-element.elementor-element-94e85cd .elementor-heading-title{font-size:44px;line-height:54px;letter-spacing:-1px;}.elementor-12876 .elementor-element.elementor-element-367c1f9{padding:0px 0px 60px 0px;}.elementor-12876 .elementor-element.elementor-element-8dd7be0 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-12876 .elementor-element.elementor-element-1bef29f > .elementor-widget-container{padding:050px 0px 039px 0px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 > .elementor-widget-container{padding:020px 0px 60px 0px;}.elementor-12876 .elementor-element.elementor-element-d6a05b5{padding:060px 0px 060px 0px;}.elementor-12876 .elementor-element.elementor-element-fe3c273 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-12876 .elementor-element.elementor-element-2772f74{padding:0px 0px 059px 0px;}.elementor-12876 .elementor-element.elementor-element-383ffc8 > .elementor-element-populated{margin:0px 0px 30px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 50px 0px;}.elementor-12876 .elementor-element.elementor-element-90a62db > .elementor-widget-container{padding:50px 0px 10px 40px;}.elementor-12876 .elementor-element.elementor-element-a00bdb6 > .elementor-widget-container{padding:0px 0px 0px 40px;}.elementor-12876 .elementor-element.elementor-element-625ae60 > .elementor-widget-container{padding:0px 0px 0px 40px;}.elementor-12876 .elementor-element.elementor-element-6ad3ea0 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 50px 0px;}.elementor-12876 .elementor-element.elementor-element-114fb96 > .elementor-widget-container{margin:0px 40px 0px 40px;padding:50px 0px 30px 0px;}.elementor-12876 .elementor-element.elementor-element-ecefc7a > .elementor-widget-container{margin:0px 40px 0px 40px;padding:0px 0px 10px 0px;}.elementor-12876 .elementor-element.elementor-element-8f389b2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 40px;}.elementor-12876 .elementor-element.elementor-element-cce4838{margin-top:-32px;margin-bottom:0px;}.elementor-12876 .elementor-element.elementor-element-20981f4 > .elementor-element-populated{margin:0px 0px 30px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 50px 0px;}.elementor-12876 .elementor-element.elementor-element-1e4ce2e > .elementor-widget-container{padding:50px 0px 10px 40px;}.elementor-12876 .elementor-element.elementor-element-cf15b49 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-12876 .elementor-element.elementor-element-7952860 .elementor-heading-title{font-size:32px;}.elementor-12876 .elementor-element.elementor-element-7952860 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-12876 .elementor-element.elementor-element-47042fe{--icon-size:25px;--grid-column-gap:18px;}.elementor-12876 .elementor-element.elementor-element-47042fe > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-12876 .elementor-element.elementor-element-8be416d{padding:60px 0px 60px 0px;}.elementor-12876 .elementor-element.elementor-element-43c2e31 .elementor-heading-title{font-size:16px;letter-spacing:0.75px;}.elementor-12876 .elementor-element.elementor-element-94e85cd .elementor-heading-title{font-size:33px;line-height:42px;letter-spacing:-1px;}.elementor-12876 .elementor-element.elementor-element-367c1f9{padding:0px 0px 50px 0px;}.elementor-12876 .elementor-element.elementor-element-8dd7be0 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-12876 .elementor-element.elementor-element-1bef29f .elementor-image-box-img{margin-bottom:17px;}.elementor-12876 .elementor-element.elementor-element-1bef29f .elementor-image-box-description{font-size:14px;line-height:25px;}.elementor-12876 .elementor-element.elementor-element-1bef29f > .elementor-widget-container{padding:40px 0px 30px 0px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 .elementor-image-box-img{margin-bottom:17px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 .elementor-image-box-description{font-size:14px;line-height:25px;}.elementor-12876 .elementor-element.elementor-element-e1aefa0 > .elementor-widget-container{padding:10px 0px 50px 0px;}.elementor-12876 .elementor-element.elementor-element-194a2d3 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-12876 .elementor-element.elementor-element-4fb06e6 .elementor-heading-title{font-size:28px;}.elementor-12876 .elementor-element.elementor-element-4fb06e6 > .elementor-widget-container{padding:40px 10px 20px 10px;}.elementor-12876 .elementor-element.elementor-element-7e821ce > .elementor-widget-container{padding:0px 15px 30px 15px;}.elementor-12876 .elementor-element.elementor-element-d6a05b5{padding:40px 0px 40px 0px;}.elementor-12876 .elementor-element.elementor-element-fe3c273 .elementor-heading-title{font-size:24px;letter-spacing:-0.44px;}.elementor-12876 .elementor-element.elementor-element-2772f74{padding:0px 0px 40px 0px;}.elementor-12876 .elementor-element.elementor-element-383ffc8 > .elementor-element-populated{margin:0px 0px 20px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 40px 0px;}.elementor-12876 .elementor-element.elementor-element-90a62db .elementor-image-box-title{font-size:21px;}.elementor-12876 .elementor-element.elementor-element-90a62db .elementor-image-box-description{font-size:14px;}.elementor-12876 .elementor-element.elementor-element-90a62db > .elementor-widget-container{padding:40px 20px 10px 20px;}.elementor-12876 .elementor-element.elementor-element-a00bdb6{font-size:14px;}.elementor-12876 .elementor-element.elementor-element-a00bdb6 > .elementor-widget-container{padding:0px 0px 0px 20px;}.elementor-12876 .elementor-element.elementor-element-625ae60{font-size:14px;}.elementor-12876 .elementor-element.elementor-element-625ae60 > .elementor-widget-container{padding:0px 0px 0px 20px;}.elementor-12876 .elementor-element.elementor-element-6ad3ea0 > .elementor-element-populated{margin:0px 0px 20px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 030px 0px;}.elementor-12876 .elementor-element.elementor-element-114fb96 .elementor-image-box-title{font-size:21px;}.elementor-12876 .elementor-element.elementor-element-114fb96 .elementor-image-box-description{font-size:14px;line-height:24px;}.elementor-12876 .elementor-element.elementor-element-114fb96 > .elementor-widget-container{margin:0px 20px 0px 20px;padding:40px 0px 30px 0px;}.elementor-12876 .elementor-element.elementor-element-ecefc7a{font-size:14px;}.elementor-12876 .elementor-element.elementor-element-ecefc7a > .elementor-widget-container{margin:0px 20px 0px 20px;padding:0px 0px 10px 0px;}.elementor-12876 .elementor-element.elementor-element-8f389b2{font-size:14px;}.elementor-12876 .elementor-element.elementor-element-8f389b2 > .elementor-widget-container{padding:0px 0px 0px 20px;}.elementor-12876 .elementor-element.elementor-element-cce4838{margin-top:-37px;margin-bottom:0px;}.elementor-12876 .elementor-element.elementor-element-20981f4 > .elementor-element-populated{margin:0px 0px 20px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 40px 0px;}.elementor-12876 .elementor-element.elementor-element-1e4ce2e .elementor-image-box-title{font-size:21px;}.elementor-12876 .elementor-element.elementor-element-1e4ce2e .elementor-image-box-description{font-size:14px;}.elementor-12876 .elementor-element.elementor-element-1e4ce2e > .elementor-widget-container{padding:40px 20px 10px 20px;}.elementor-12876 .elementor-element.elementor-element-b3f9ee5{padding:30px 0px 40px 0px;}.elementor-12876 .elementor-element.elementor-element-cf15b49 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-12876 .elementor-element.elementor-element-7952860 .elementor-heading-title{font-size:24px;}.elementor-12876 .elementor-element.elementor-element-47042fe .elementor-widget-container{text-align:center;}.elementor-12876 .elementor-element.elementor-element-47042fe{--icon-size:19px;--grid-column-gap:5px;--grid-row-gap:20px;width:var( --container-widget-width, 320px );max-width:320px;--container-widget-width:320px;--container-widget-flex-grow:0;}.elementor-12876 .elementor-element.elementor-element-47042fe > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-12876 .elementor-element.elementor-element-8dd7be0{width:100%;}.elementor-12876 .elementor-element.elementor-element-194a2d3{width:100%;}.elementor-12876 .elementor-element.elementor-element-383ffc8{width:100%;}.elementor-12876 .elementor-element.elementor-element-6ad3ea0{width:100%;}.elementor-12876 .elementor-element.elementor-element-20981f4{width:100%;}}/* Start custom CSS for heading, class: .elementor-element-94e85cd */#contact-page-heading h1{
    font-family: 'futura-pt', Sans-Serif !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8be416d */#contact-us-banner{
   background-image: url(https://cdn.syncfusion.com/boldbi/contactus/contact-us-banner.jpg);
    background-size: cover;
     
}
.Caros-font{
    	font-family: 'Caros', sans-serif !important;
}/* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-1bef29f */#contact-us-left-segment-1 .elementor-image-box-description{
    font-size:16px;
}
@media screen and (max-width:500px){
    #contact-us-left-segment-1 .elementor-image-box-description{
        font-size:14px;
    }
}/* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-e1aefa0 */.email-id a{
color: #ff4800;
}
.email-id a:hover{
color: #ad3224;
}
.email-id{
font-size :16px;
padding-top: 16px;
}
.support-link{
line-height: 55px;
color: #ff4800;
font-size: 16px !important;
}
#contact-us-left-segment-2 .elementor-image-box-description{
    font-size:16px;
}

@media screen and (max-width:500px){
    #contact-us-left-segment-2 .elementor-image-box-description{
        font-size:14px;
    }
    .support-link{
        font-size:14px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-194a2d3 */.general-form-style input{
     border-radius: 8px !important;
     border: 1px solid #d0d5dd !important;
     padding: 4px 12px !important;
     color: #344054 !important;
     font-size: 16px !important;
}
.general-form-style textarea{
        border-radius: 8px !important;
     border: 1px solid #d0d5dd !important;
     padding: 10px !important;
     color: #344054 !important;
     width:100%;
     resize:none;
     height:7em;
     font-size: 16px !important;
}

.general-form-style input.wpcf7-text {
    height: 35px;
    width: 100%;
}
.general-form-style ::-webkit-input-placeholder{
    color: #5c5f63 !important;
    font-size: 14px !important;
    font-family: "Roboto" !important;
}
.general-form-style .accept-cookie-policy {
    color: #344054;
    padding-top: 10px
}
.general-form-style .accept-cookie-policy a {
    color: #FF4800;
}
.general-form-style{
    display: table;
    align-self: center;
}
.general-form-style input.wpcf7-submit{
    color:#ffffff !important;
    background-color: #ff4800 !important;
    width: 270px;
    height: 54px;
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0 0 0;
} 
.general-form-style .wpcf7-spinner {
    margin-top: 20px;
}
.general-form-style .wpcf7-not-valid {
    border-color: #F03E3E !important;
}
.general-form-style .wpcf7-not-valid-tip {
    opacity: 1 !important;
    background:none !important;
    border:none;
    color: #F03E3E !important;
    line-height:18px;
    font-size: 12px !important;
}
.general-form-style .wpcf7-validation-errors {
    display: none !important;
}
/*.general-form-style .wpcf7 .wpcf7-mail-sent-ok {*/
/*    font-size: 14px;*/
/*    line-height:21px !important;*/
/*}*/
::-moz-placeholder {
  opacity: 1;
}
/*.general-form-style .wpcf7-mail-sent-ng{*/
/*    font-size: 14px;*/
/*    line-height:21px !important;*/
/*    }*/
@media screen and (max-width:767px){
    .general-form-style input{
     padding: 4px 10px !important;
     font-size: 14px !important;
}
}
@media screen and (max-width:320px){
#calendly-form-submit{
    width: 235px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-367c1f9 */.accept-cookie-policy a:hover {
    color: #FF4800;
}
.accept-cookie-policy a {
    line-height: 30px;
    color: #FF4800;
}
#contact-us-left-segment-1 figure img{
    width: 57px;
    height:57px;
}
#contact-us-left-segment-2 figure img{
    width: 60px;
    height:55.1px;
}
#contact-us-tollfree-num{
    text-decoration: none;
    font-family: 'Roboto', Sans-Serif !important;
    font-size: 16px;
    color: #334155;
    letter-spacing: 0;
    line-height: 30px;
}
/*#get-support-segment{*/
/*    font-family: 'InterMedium', Sans-Serif !important;*/
/*    font-weight: 700 !important;*/
/*font-size: 16px;*/
/*color: #FF4800;*/
/*letter-spacing: 0;*/
/*line-height: 30px;*/
/*padding-top: 16px;*/
/*}*/
.support-link, .support-link:hover{
    font-family: 'Roboto', Sans-Serif !important;
  font-size: 16px;
color: #FF4800;
letter-spacing: 0;
}

.toll-free-segment{
    padding-top:15px;
}
 .toll-free{
    font-family: 'Roboto', Sans-Serif !important;
font-size: 18px;
color: #334155;
letter-spacing: 0;
line-height: 30px;
font-weight: 400;
}
.contact-us-left-segment .elementor-image-box-title{
  
padding-bottom: 17px;
   
} 
/* #get-support-segment:after   {
    content: "\f178";
 font-family:'FontAwesome';
 
    font-size: 20px;
    vertical-align: middle;
	border-color:#FF4800;
	margin-left: 10px;


}*/
#get-support-icon{
 margin-left: 8px;
 width: 18px;
 padding-bottom: 2px;
}
.support-link:hover #get-support-icon{
    margin-left: 15px;
}
#contact-us-form .wpcf7 .wpcf7-validation-errors{
    display: none !important;
}

#contact-us-form .wpcf7 .wpcf7-mail-sent-ok {
    line-height: 1.5;
}

#contact-us-form input.wpcf7-text,#contact-us-form textarea{
   font-family: 'Roboto', Sans-Serif !important;
font-size: 14px;
color: #666666;
letter-spacing: 0;
line-height: 18px; 

}
#contact-us-form textarea{
    resize:none;
}

@media (max-width:767px){
    .contact-us-left-segment .elementor-image-box-title{
   font-size: 24px;
   line-height:30px;
} 
.contact-us-left-segment .elementor-image-box-description{
    font-family: Roboto;
font-size: 14px;
line-height: 25px;
}
#contact-us-tollfree-num{
font-size: 14px;
line-height: 25px;
}
#get-support-segment{
   
font-size: 14px;
line-height: 25px;
}
.contact-us-left-segment .toll-free{
    font-family: 'Roboto', Sans-Serif !important;
    font-weight:700 !important;
font-size: 14px;
color: #334155;
letter-spacing: 0;
line-height: 28px;
}
}
@media (min-width: 576px){
#contact-us-first-segment.container {
    max-width: 540px;
     margin-left: auto;
    margin-right: auto;
}}

@media (min-width: 768px){
#contact-us-first-segment.container {
    max-width: 720px;
     margin-left: auto;
    margin-right: auto;
    
}
}

@media (min-width: 992px){
#contact-us-first-segment {
    max-width: 960px;
     margin-left: auto;
    margin-right: auto;
    
}
}

@media (min-width: 1200px){
#contact-us-first-segment {
    max-width:1120px;
     margin-left: auto;
    margin-right: auto;
    
}

}
@media (min-width: 991px) and (max-width:1024px){
#contact-us-form-description{
    padding-left: 100px;
    padding-right: 100px;
}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .toll-free{
    font-family: 'Roboto', Sans-Serif !important;
        
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-fe3c273 */#contact-page-h2 h2{
    font-family: 'futura-pt', Sans-Serif !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-383ffc8 */#contactus-office-segment-1{
    height:414px !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6ad3ea0 */@media screen and (min-width: 1025px){
#contactus-office-segment-2{
    height:414px !important;
}
}
@media screen and (min-width: 320px) and (max-width:1025px){
   #contactus-office-segment-2{
    height:500px !important;
} 
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2772f74 */#contactus-office-segment-1 figure img,#contactus-office-segment-2 figure img{display: none;
    width:42px;
}
#contact-us-office-location #label{
    padding-right: 10px
}

#contactus-office-segment-1{
       height: fit-content;
       height: -moz-fit-content;

}
#contactus-office-segment-1 .elementor-image-box-title,#contactus-office-segment-2 .elementor-image-box-title,#contactus-office-segment-3 .elementor-image-box-title{
    padding-top: 0px;
    padding-bottom: 15px;
}
#fax-label{
    margin-top: -14px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-cce4838 */@media screen and  (max-width: 1024px) {
    .elementor-12876 .elementor-element.elementor-element-cce4838:not(.elementor-motion-effects-element-type-background), .elementor-12876 .elementor-element.elementor-element-cce4838>.elementor-motion-effects-container>.elementor-motion-effects-layer{
        background-color:#f8f8f8 !important;
    }
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-47042fe */.elementor-social-icons-wrapper.elementor-grid .elementor-grid-item:last-child{
    margin-right:0px !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-cf15b49 */@media screen and (max-width:767px){
    .contact-connect-with-us-col .elementor-widget-wrap{
    justify-content: center;
}
}/* End custom CSS */
/* Start custom CSS *//* cf7 response message appearance - after deactivating radiant theme addon */
#contact-us-form span.wpcf7-not-valid-tip {
    width: 100%;
    padding: 2px 5px 0;
    background-color: #f8d7da;
    font-weight: 400;
    font-size: 11px;
    color: #c01d2b;
    line-height: 20px;
}
#contact-us-form .wpcf7-response-output{
	margin-top: 5px !important;
    padding: 8px 12px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px;
    font-weight: 400;
	font-size: 14px;
	opacity: 1;
}
/*#contact-us-form .wpcf7-response-output.wpcf7-mail-sent-ok {*/
/*    background-color: #c5ebd4;*/
/*    border-color: #b1dac1;*/
/*    color: #01742f;*/
/*}*/
/*#contact-us-form .wpcf7-response-output.wpcf7-validation-errors {*/
/*   background-color: #f8d7da;*/
/*    border-color: #e4c2c5;*/
/*    color: #c01d2b;*/
/*}*/
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #F03E3E !important;
}
.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'futura-pt';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: ;
}
/* End Custom Fonts CSS */