.elementor-99660 .elementor-element.elementor-element-52755c67:hover{border-style:none;}.elementor-99660 .elementor-element.elementor-element-52755c67{margin-top:0px;margin-bottom:32px;}.elementor-99660 .elementor-element.elementor-element-76a8ffa4 > .elementor-element-populated{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px -3px;--e-column-margin-right:0px;--e-column-margin-left:-3px;padding:0px 0px 0px 0px;}.elementor-99660 .elementor-element.elementor-element-76a8ffa4:hover > .elementor-element-populated{border-style:none;}.elementor-99660 .elementor-element.elementor-element-76a8ffa4:hover > .elementor-element-populated, .elementor-99660 .elementor-element.elementor-element-76a8ffa4:hover > .elementor-element-populated > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-99660 .elementor-element.elementor-element-76a8ffa4 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99660 .elementor-element.elementor-element-112505f1 img{width:340px;filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );border-radius:12px 12px 12px 12px;}.elementor-99660 .elementor-element.elementor-element-3f644681 > .elementor-element-populated{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:13px 13px 0px 24px;}.elementor-99660 .elementor-element.elementor-element-3f644681:hover > .elementor-element-populated{border-style:none;}.elementor-99660 .elementor-element.elementor-element-3f644681:hover > .elementor-element-populated, .elementor-99660 .elementor-element.elementor-element-3f644681:hover > .elementor-element-populated > .elementor-background-overlay{border-radius:0px 32px 32px 0px;}.elementor-99660 .elementor-element.elementor-element-3f644681 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99660 .elementor-element.elementor-element-b243a68 .elementor-icon-list-icon{width:14px;}.elementor-99660 .elementor-element.elementor-element-b243a68 .elementor-icon-list-icon i{font-size:14px;}.elementor-99660 .elementor-element.elementor-element-b243a68 .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-99660 .elementor-element.elementor-element-b243a68 .elementor-icon-list-item{font-size:16px;font-weight:400;line-height:24px;}.elementor-99660 .elementor-element.elementor-element-b243a68 > .elementor-widget-container{margin:0px 0px -14px 0px;}.elementor-99660 .elementor-element.elementor-element-201991cf .elementor-heading-title{color:#101828;font-size:20px;font-weight:700;line-height:30px;}.elementor-99660 .elementor-element.elementor-element-201991cf > .elementor-widget-container{margin:0px 0px -8px 0px;}.elementor-99660 .elementor-element.elementor-element-64398d27 .elementor-widget-container{color:#475467;font-size:16px;line-height:24px;}.elementor-99660 .elementor-element.elementor-element-64398d27 > .elementor-widget-container{margin:0px 0px -8px 0px;}.elementor-99660 .elementor-element.elementor-element-349147fd .elementor-button{font-size:16px;font-weight:500;line-height:24px;fill:#7F56D9;color:#7F56D9;background-color:#00000000;}.elementor-99660 .elementor-element.elementor-element-349147fd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-99660 .elementor-element.elementor-element-52755c67{margin-top:12px;margin-bottom:12px;}.elementor-99660 .elementor-element.elementor-element-3f644681 > .elementor-element-populated{padding:08px 16px 16px 16px;}.elementor-99660 .elementor-element.elementor-element-b243a68 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-99660 .elementor-element.elementor-element-201991cf .elementor-heading-title{font-size:20px;line-height:30px;}.elementor-99660 .elementor-element.elementor-element-201991cf > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-99660 .elementor-element.elementor-element-64398d27 .elementor-widget-container{font-size:16px;}.elementor-99660 .elementor-element.elementor-element-64398d27 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-99660 .elementor-element.elementor-element-52755c67{margin-top:0px;margin-bottom:48px;}.elementor-99660 .elementor-element.elementor-element-112505f1 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-99660 .elementor-element.elementor-element-3f644681 > .elementor-element-populated{padding:8px 8px 8px 8px;}.elementor-99660 .elementor-element.elementor-element-b243a68 .elementor-icon-list-item{font-size:16px;line-height:24px;}.elementor-99660 .elementor-element.elementor-element-201991cf .elementor-heading-title{font-size:20px;line-height:30px;}.elementor-99660 .elementor-element.elementor-element-64398d27 .elementor-widget-container{font-size:16px;line-height:24px;}}@media(min-width:768px){.elementor-99660 .elementor-element.elementor-element-76a8ffa4{width:37.5%;}.elementor-99660 .elementor-element.elementor-element-3f644681{width:62.5%;}}@media(max-width:1024px) and (min-width:768px){.elementor-99660 .elementor-element.elementor-element-76a8ffa4{width:40%;}.elementor-99660 .elementor-element.elementor-element-3f644681{width:60%;}}/* Start custom CSS for section, class: .elementor-element-52755c67 *//* search result page section heading/excerpt/readmore/breadcrumb/img */
.learning-search-loop-post{
    margin: 0 13%;
}
.learning-search-excerpt{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 4.3em;
}
.learning-search-readmore a{
    padding: 0;
}
.learning-search-result-secondterm{
    font-size: 16px;
    line-height: 24px;
    color: #344054;
}
.learning-search-loop-post {
    transition: background 0.3s ease, outline-width 0.3s ease, border-radius 0.3s ease;
    margin-bottom: 24px;
    outline: 0 solid rgba(249, 245, 255, 1) !important;
}
.learning-search-loop-post:hover{
    background: #F9F5FF;
    outline: 12px solid #F9F5FF !important;
    border-radius: 24px;
}
.learning-search-post-img img{
    transition: border-radius 0.3s ease, transform 0.3s ease;
}
.learning-search-loop-post:hover .learning-search-post-img img{
    border-radius: 20px;
    transform: scale(1.03);
}
.search-learning-terms img{
    margin: 0 2px 0 8px;
}

@media screen and (max-width:1199px){
    .learning-search-loop-post{
    margin: 0;
    }
    .learning-search-loop-post .elementor-container{
    padding: 0;
}
}
@media screen and (max-width:1025px){
.learning-search-post-heading, .learning-search-excerpt{
    margin-bottom: 12px !important;
    }
    .search-learning-terms {
        margin-bottom:6px !important;
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
    .learning-search-content-col .elementor-widget-wrap{
        padding-top:16px !important;
    }
}
@media screen and (max-width:991px){
    .learning-search-loop-post .learning-search-post-img img{
        height: auto !important;
    }
    .learning-search-post-img{
        margin-left:6px;
    }
    .learning-search-loop-post .elementor-container {
        padding:0 !important;
    }
    .learning-search-post-heading, .learning-search-excerpt{
    margin-bottom: 8px !important;
    }
    .search-learning-terms {
        margin-bottom:2px !important;
    }
    .search-learning-terms li, .search-learning-terms span{
        font-size:14px !important;
    }
    .learning-search-post-heading h1{
    font-size:16px !important;
    line-height:24px !important;
    }
    .learning-search-excerpt div, .learning-search-readmore a{
        font-size:14px !important;
        line-height:22px !important;
    }
    .learning-search-content-col .elementor-widget-wrap{
        padding: 2px 16px 2px 16px !important;
    }
    .learning-back-btn-col .elementor-widget-wrap{
        margin-left:-20px;
    }
}
@media screen and (max-width:767px){
    .learning-search-loop-post .learning-search-post-img img{
        width: 100% !important;
        height:100% !important;
    }
    .learning-search-post-heading h1{
    font-size:20px !important;
    line-height:30px !important;
    }
    .search-learning-terms li, .search-learning-terms span, .learning-search-excerpt div, .learning-search-readmore a{
        font-size:16px !important;
        line-height:24px !important;
    }
    .search-learning-terms {
        margin-bottom:12px !important;
    }
     .learning-search-post-heading{
    margin-bottom: 8px !important;
    }
    .learning-search-excerpt{
    margin-bottom: 20px !important;
    }
    .learning-search-content-col .elementor-widget-wrap {
        padding: 0 10px !important;
    }
}/* End custom CSS */
/* Start custom CSS */.learning-center-font .learning-search-excerpt .elementor-widget-container{
    font-family: "Inter" !important;
}
.learning-center-font .learning-search-readmore span{
    font-family: "InterMedium" !important;
}

.learning-tooltip, .learning-category-tooltip {
    position: absolute;
    background: rgba(16, 24, 40, 0.96);
    color: #fff;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    opacity: 1;
    z-index: 100;
    font-size: 12px;
    font-family: "InterMedium" !important;
    line-height: 18px;
    width: 20%;
    text-align: left;
    transition: opacity 0.5s ease;
}
.tooltip-arrow {
    content: "";
    position: absolute;
    bottom: 0; /* This will be overridden by the JavaScript */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #101828 transparent;
}

.search.search-results .pagination-container nav.custom-pagination .page-numbers.current, .search.search-results .pagination-container nav.custom-pagination .page-numbers.current:hover{
    background-color: #7F56D9;
}
.search.search-results .pagination-container nav.custom-pagination .page-numbers:hover{
    color: #7F56D9;
    border-color: rgba(214, 187, 251, 0.5);
    background-color: rgba(214, 187, 251, 0.5);
}/* End custom CSS */