*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sign{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(228, 235, 242);
}
.sign h1:nth-child(1){
    
    padding: 5px;
}
.sign h1:nth-child(2){
    background-color:blue;
    
    padding: 5px;
}
#box{
    width: 50%;
    margin: 20vh auto;
}
#menu{
    display:none;
}
#menu ol{
    display: flex;
    list-style-type: none;
    width:80%;
    margin: auto;
    justify-content: space-evenly;
    text-transform: capitalize;
    
    color:white;
    background-color: rgb(58, 40, 109);
    padding: 10px;
    
}
#menu ol li{
    padding: 10px;
    
}
#menu ol li:hover{
    background-color:lightskyblue ;
    color: black;
    
}
#signUp{
    padding: 20px;
    border:2px solid green;
   
    width: 60%;
    margin: auto;
}
#signIn{
    padding: 20px;
    border:2px solid green;
   
    width: 60%;
    margin: auto;
    display:none;
}
#signUp input,#signIn input{
    width: 100%;
    margin:2% auto;
    line-height: 2rem;
    font-size: 1.2rem;
    text-indent: 3%;
    
    border: 2px solid blue;
    box-shadow: 2px 2px 2px gray;

}
.sub{
    width: 100%;
    margin:2% auto;
    line-height: 2rem;
    font-size: 1.2rem;
    background-color: orange;
    color: white;
    border: 2px solid orangered;
    box-shadow: 2px 2px 2px gray;
}

#welcome,#balance,#currentBalance{
    font-size: 3rem;
    text-align: center;
  
}

#addmedicine,#deposit{
    background-color: green;
    color: white;
    border: none;
    height: 2rem; width: 6rem;
    
}

#cancelbtn{
    background-color: rgb(20, 19, 19);
    color: white;
    border: none;
    height: 2rem; width: 6rem;
   
}

#amountInput,#medicineAddButton{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
#top input{
    width: 40%;
    margin:2% auto;
    line-height: 4rem;
    font-size: 2rem;
    text-indent: 3%;
   
    border: 2px solid blue;
    box-shadow: 2px 2px 2px gray;
    display: block;
}
#top button{
    display: block;
    margin: auto;
    line-height: 2rem;
    font-size: 1.2rem;
 
    background-color: green;
    color: white;
    border: 2px solid green;
    box-shadow: 2px 2px 2px gray;
}
#top{
    display: none;
}
#medButton{
    display: block;
    width: 10%;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
  
    color: white;
    margin:5vh auto ;
    background-color: green; 
}
#medicinePage,#purchasePage,#orderPage,#topUpPage{
    margin-top: 10vh;
    margin-bottom:5vh;
    display: none;
}
#medicineTable,#purchaseTable,#orderTable{
    margin: auto;
    border: 2px solid gray;
    border-collapse: collapse;
}
#medicineTable td,#medicineTable th,#purchaseTable td,#purchaseTable th,#orderTable td,#orderTable th{
    text-align: center;
    border: 2px solid gray;
    padding: 5px;
}
#medicineTable td button,#purchaseTable td button{
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    color: white;
    margin: 0px 5px;
}
#tb2 td button{
    background-color: rgb(0, 234, 255);
}
#medicineTable td button:nth-child(1){
    background-color: rgb(0, 179, 255);
    
}
#purchaseTable td button{
    background-color: rgb(85, 128, 0);
    
}
#medicineTable td button:nth-child(2){
    background-color: rgb(115, 0, 255);
  
}

#addEditMedicineForm{
    margin-top: 5vh;
    display: none;
    width:40%;
    margin: auto;
    border:2px solid black;
    padding: 10px;
    
}
#addEditMedicineForm input{
    width: 50%;
    margin:2% auto;
    line-height: 2rem;
    font-size: 1.5rem;
    text-indent: 3%;
    
    border: 2px solid blue;
    box-shadow: 2px 2px 2px gray;
    display: block;
}
#addEditMedicineForm h1{
    text-align: center;
}
#addEditMedicineForm button{
    display: block;
    width: 50%;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
   
    color: white;
    margin: auto;
    background-color: rgb(23, 0, 128);
}
