@font-face {
font-family: 'SyncfusionMenuIcons';
src:
url('https://cdn.syncfusion.com/content/images/common/menu/master/icons/fonts/SyncfusionMenuIconsV2.ttf') format('truetype'),
url('https://cdn.syncfusion.com/content/images/common/menu/master/icons/fonts/SyncfusionMenuIconsV2.woff') format('woff'),
url('https://cdn.syncfusion.com/content/images/common/menu/master/icons/fonts/SyncfusionMenuIconsV2.eot') format('eot'),
url('https://cdn.syncfusion.com/content/images/common/menu/master/icons/fonts/SyncfusionMenuIconsV2.svg?#SyncfusionMenuIcons') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
 font-family: 'SyncfusionMenuIcons' !important;
speak: none;
font-size: 24px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.sf-icon-progress-button:before { content: "\e700"; }
.sf-icon-buttons:before { content: "\e701"; }
.sf-icon-charts:before { content: "\e702"; }
.sf-icon-scheduler:before { content: "\e703"; }
.sf-icon-rich-text-editor:before { content: "\e704"; }
.sf-icon-autocomplete:before { content: "\e705"; }
.sf-icon-excel:before { content: "\e706"; }
.sf-icon-list-view:before { content: "\e707"; }
.sf-icon-tooltip:before { content: "\e708"; }
.sf-icon-splitter:before { content: "\e709"; }
.sf-icon-dashboard:before { content: "\e70a"; }
.sf-icon-card:before { content: "\e70b"; }
.sf-icon-expander:before { content: "\e70c"; }
.sf-icon-picker:before { content: "\e70d"; }
.sf-icon-effect-view:before { content: "\e70e"; }
.sf-icon-stepper:before { content: "\e70f"; }
.sf-icon-media-query:before { content: "\e710"; }
.sf-icon-dialog:before { content: "\e711"; }
.sf-icon-accordion:before { content: "\e712"; }
.sf-icon-message:before { content: "\e713"; }
.sf-icon-textbox:before { content: "\e714"; }
.sf-icon-in-place-editor:before { content: "\e715"; }
.sf-icon-query-builder:before { content: "\e716"; }
.sf-icon-input-mask:before { content: "\e717"; }
.sf-icon-numeric-textbox:before { content: "\e718"; }
.sf-icon-radio-button:before { content: "\e719"; }
.sf-icon-check-box:before { content: "\e71a"; }
.sf-icon-color-picker:before { content: "\e71b"; }
.sf-icon-color-palette:before { content: "\e71c"; }
.sf-icon-file-upload:before { content: "\e71d"; }
.sf-icon-range-slider:before { content: "\e71e"; }
.sf-icon-signature:before { content: "\e71f"; }
.sf-icon-toggle-switch:before { content: "\e720"; }
.sf-icon-rating:before { content: "\e721"; }
.sf-icon-toast:before { content: "\e722"; }
.sf-icon-progress-bar:before { content: "\e723"; }
.sf-icon-spinner:before { content: "\e724"; }
.sf-icon-skeleton:before { content: "\e725"; }
.sf-icon-app-bar:before { content: "\e726"; }
.sf-icon-breadcrumb:before { content: "\e727"; }
.sf-icon-carousal:before { content: "\e728"; }
.sf-icon-rotator:before { content: "\e729"; }
.sf-icon-context-menu:before { content: "\e72a"; }
.sf-icon-menu-bar:before { content: "\e72b"; }
.sf-icon-side-bar:before { content: "\e72c"; }
.sf-icon-tabs:before { content: "\e72d"; }
.sf-icon-toolbar:before { content: "\e72e"; }
.sf-icon-tree-view:before { content: "\e72f"; }
.sf-icon-file-manager:before { content: "\e730"; }
.sf-icon-pager:before { content: "\e731"; }
.sf-icon-pdf:before { content: "\e732"; }
.sf-icon-word:before { content: "\e733"; }
.sf-icon-powerpoint:before { content: "\e734"; }
.sf-icon-listbox:before { content: "\e735"; }
.sf-icon-combo-box:before { content: "\e736"; }
.sf-icon-dropdown-list:before { content: "\e737"; }
.sf-icon-dropdown-tree:before { content: "\e738"; }
.sf-icon-predefined-dialog:before { content: "\e739"; }
.sf-icon-numeric-updown:before { content: "\e73a"; }
.sf-icon-domain-updown:before { content: "\e73b"; }
.sf-icon-docking-manager:before { content: "\e73c"; }
.sf-icon-digital-gauge:before { content: "\e73d"; }
.sf-icon-radial-menu:before { content: "\e73e"; }
.sf-icon-backdrop-page:before { content: "\e73f"; }
.sf-icon-calculation-engine:before { content: "\e740"; }
.sf-icon-pull-refresh:before { content: "\e741"; }
.sf-icon-data-source:before { content: "\e742"; }
.sf-icon-multiselect-dropdown:before { content: "\e743"; }
.sf-icon-mention:before { content: "\e744"; }
.sf-icon-word-processor:before { content: "\e745"; }
.sf-icon-pdf-viewer:before { content: "\e746"; }
.sf-icon-report-viewer:before { content: "\e747"; }
.sf-icon-report-writer:before { content: "\e748"; }
.sf-icon-predictive-analytics:before { content: "\e749"; }
.sf-icon-image-editor:before { content: "\e74a"; }
.sf-icon-gantt-chart:before { content: "\e74b"; }
.sf-icon-calendar:before { content: "\e74c"; }
.sf-icon-date-range-picker:before { content: "\e74d"; }
.sf-icon-date-picker:before { content: "\e74e"; }
.sf-icon-date-time-picker:before { content: "\e74f"; }
.sf-icon-time-picker:before { content: "\e750"; }
.sf-icon-stock-chart:before { content: "\e751"; }
.sf-icon-circular-gauge:before { content: "\e752"; }
.sf-icon-linear-gauge:before { content: "\e753"; }
.sf-icon-border:before { content: "\e754"; }
.sf-icon-chat:before { content: "\e755"; }
.sf-icon-diagram:before { content: "\e756"; }
.sf-icon-heat-map:before { content: "\e757"; }
.sf-icon-map:before { content: "\e758"; }
.sf-icon-range-selector:before { content: "\e759"; }
.sf-icon-smith-chart:before { content: "\e75a"; }
.sf-icon-sparkline-chart:before { content: "\e75b"; }
.sf-icon-barcode:before { content: "\e75c"; }
.sf-icon-tree-map:before { content: "\e75d"; }
.sf-icon-bullet-chart:before { content: "\e75e"; }
.sf-icon-kanban:before { content: "\e75f"; }
.sf-icon-data-grid:before { content: "\e760"; }
.sf-icon-pivot-grid:before { content: "\e761"; }
.sf-icon-tree-grid:before { content: "\e762"; }
.sf-icon-button-group:before { content: "\e763"; }
.sf-icon-dropdown-menu:before { content: "\e764"; }
.sf-icon-split-button:before { content: "\e765"; }
.sf-icon-chips:before { content: "\e766"; }
.sf-icon-fab:before { content: "\e767"; }
.sf-icon-speed-dial:before { content: "\e768"; }
.sf-icon-form-validation:before { content: "\e769"; }
.sf-icon-spreadsheet:before { content: "\e76a"; }
.sf-icon-sunburst-chart:before { content: "\e76b"; }
.sf-icon-avatar:before { content: "\e76c"; }
.sf-icon-badge:before { content: "\e76d"; }
.sf-icon-ribbon:before { content: "\e76e"; }
.sf-icon-arc-gauge:before { content: "\e76f"; }
.sf-icon-circular-chart:before { content: "\e770"; }
.sf-icon-funnel-chart:before { content: "\e771"; }
.sf-icon-pyramid-chart:before { content: "\e772"; }
.sf-icon-spell-checker:before { content: "\e773"; }
.sf-icon-currency-textbox:before { content: "\e774"; }
.sf-icon-percent-textbox:before { content: "\e775"; }
.sf-icon-chromeless-window:before { content: "\e776"; }
.sf-icon-double-textbox:before { content: "\e777"; }
.sf-icon-tab-navigation:before { content: "\e778"; }
.sf-icon-surface-chart:before { content: "\e779"; }
.sf-icon-status-strip:before { content: "\e77a"; }
.sf-icon-tab-splitter-container:before { content: "\e77b"; }
.sf-icon-multicolumn-listbox:before { content: "\e77c"; }
.sf-icon-editable-listbox:before { content: "\e77d"; }
.sf-icon-color-picker-dropdown:before { content: "\e77e"; }
.sf-icon-dropdown-color-palette:before { content: "\e77f"; }
.sf-icon-excel-like-tabbar-splitter:before { content: "\e780"; }
.sf-icon-gradient-panel:before { content: "\e781"; }
.sf-icon-grouping:before { content: "\e782"; }
.sf-icon-html-viewer:before { content: "\e783"; }
.sf-icon-multicolumn-dropdown:before { content: "\e784"; }
.sf-icon-multicolumn-combobox:before { content: "\e785"; }
.sf-icon-timespan-editor:before { content: "\e786"; }
.sf-icon-wizard-control:before { content: "\e787"; }
.sf-icon-taskbar:before { content: "\e788"; }
.sf-icon-status-bar:before { content: "\e789"; }
.sf-icon-theme-studio:before { content: "\e78a"; }
.sf-icon-trackbar:before { content: "\e78b"; }
.sf-icon-splash-screen:before { content: "\e78c"; }
.sf-icon-scroll-frame:before { content: "\e78d"; }
.sf-icon-shadow:before { content: "\e78e"; }
.sf-icon-shimmer:before { content: "\e78f"; }
.sf-icon-watermark:before { content: "\e790"; }
.sf-icon-skins:before { content: "\e791"; }
.sf-icon-report-designer:before { content: "\e792"; }
.sf-icon-qtp-addon:before { content: "\e793"; }
.sf-icon-property-grid:before { content: "\e794"; }
.sf-icon-styles-formatting:before { content: "\e795"; }
.sf-icon-create-documents:before { content: "\e796"; }
.sf-icon-modify-document:before { content: "\e797"; }
.sf-icon-merge-documents:before { content: "\e798"; }
.sf-icon-split-documents:before { content: "\e799"; }
.sf-icon-find-replace:before { content: "\e79a"; }
.sf-icon-edit-bookmark:before { content: "\e79b"; }
.sf-icon-file-view:before { content: "\e79c"; }
.sf-icon-annotate-pdf:before { content: "\e79d"; }
.sf-icon-digital-signature:before { content: "\e79e"; }
.sf-icon-data-extraction:before { content: "\e79f"; }
.sf-icon-compress-pdf:before { content: "\e7a0"; }
.sf-icon-create-accessible-pdf:before { content: "\e7a1"; }
.sf-icon-redaction:before { content: "\e7a2"; }
.sf-icon-pdf-annotations:before { content: "\e7a3"; }
.sf-icon-protect-pdf:before { content: "\e7a4"; }
.sf-icon-number-formatting:before { content: "\e7a5"; }
.sf-icon-formulas:before { content: "\e7a6"; }
.sf-icon-frozen-column:before { content: "\e7a7"; }
.sf-icon-frozen-rows:before { content: "\e7a8"; }
.sf-icon-import-and-export:before { content: "\e7a9"; }
.sf-icon-tables:before { content: "\e7aa"; }
.sf-icon-template-markers:before { content: "\e7ab"; }
.sf-icon-data-validation:before { content: "\e7ac"; }
.sf-icon-security:before { content: "\e7ad"; }
.sf-icon-comments:before { content: "\e7ae"; }
.sf-icon-excel-image:before { content: "\e7af"; }
.sf-icon-excel-json:before { content: "\e7b0"; }
.sf-icon-excel-csv:before { content: "\e7b1"; }
.sf-icon-csv-excel:before { content: "\e7b2"; }
.sf-icon-slide:before { content: "\e7b3"; }
.sf-icon-shapes:before { content: "\e7b4"; }
.sf-icon-transition-animation:before { content: "\e7b5"; }
.sf-icon-powerpoint-pdf:before { content: "\e7b6"; }
.sf-icon-powerpoint-image:before { content: "\e7b7"; }
.sf-icon-demos:before { content: "\e7b8"; }
.sf-icon-whats-new:before { content: "\e7b9"; }
.sf-icon-documentation:before { content: "\e7ba"; }
.sf-icon-release-history:before { content: "\e7bb"; }
.sf-icon-blog:before { content: "\e7bc"; }
.sf-icon-tutorial-videos:before { content: "\e7bd"; }
.sf-icon-road-map:before { content: "\e7be"; }
.sf-icon-ebooks:before { content: "\e7bf"; }
.sf-icon-knowledge-base:before { content: "\e7c0"; }
.sf-icon-white-papers:before { content: "\e7c1"; }
.sf-icon-case-studies:before { content: "\e7c2"; }
.sf-icon-technical-faq:before { content: "\e7c3"; }
.sf-icon-code-examples:before { content: "\e7c4"; }
.sf-icon-accessibility:before { content: "\e7c5"; }
.sf-icon-web-stories:before { content: "\e7c6"; }
.sf-icon-community-forum:before { content: "\e7c7"; }
.sf-icon-sla:before { content: "\e7c8"; }
.sf-icon-features-bugs:before { content: "\e7c9"; }
.sf-icon-product-life-cycle:before { content: "\e7ca"; }
.sf-icon-contact-support:before { content: "\e7cb"; }
.sf-icon-ocr-pdf:before { content: "\e7cc"; }
.sf-icon-html-pdf:before { content: "\e7cd"; }
.sf-icon-image-pdf:before { content: "\e7ce"; }
.sf-icon-pdf-image:before { content: "\e7cf"; }
.sf-icon-editing-restriction:before { content: "\e7d0"; }
.sf-icon-compare-documents:before { content: "\e7d1"; }
.sf-icon-word-pdf:before { content: "\e7d2"; }
.sf-icon-word-image:before { content: "\e7d3"; }
.sf-icon-word-html:before { content: "\e7d4"; }
.sf-icon-html-word:before { content: "\e7d5"; }
.sf-icon-rtf-word:before { content: "\e7d6"; }
.sf-icon-mail-merge:before { content: "\e7d7"; }
.sf-icon-form-filling:before { content: "\e7d8"; }
.sf-icon-excel-pdf:before { content: "\e7d9"; }
.sf-icon-form-field:before { content: "\e7da"; }
.sf-icon-close:before { content: "\e7db"; }
.sf-icon-chevron-right-small:before { content: "\e7dc"; }
.sf-icon-chevron-down-small:before { content: "\e7dd"; }
.sf-icon-chevron-left-small:before { content: "\e7de"; }
.sf-icon-chevron-up-small:before { content: "\e7df"; }
.sf-icon-menu:before { content: "\e7e0"; }
.sf-icon-chevron-left:before { content: "\e7e1"; }
.sf-icon-arrow-right:before { content: "\e7e2"; }
.sf-icon-3d-chart:before { content: "\e7e3"; }
.sf-icon-olap-chart:before { content: "\e7e4"; }
.sf-icon-olap-gauge:before { content: "\e7e5"; }
.sf-icon-olap-clinent:before { content: "\e7e6"; }
.sf-icon-protect-documents:before { content: "\e7e7"; }
.sf-icon-table-of-content:before { content: "\e7e8"; }
.sf-icon-word-text:before { content: "\e7e9"; }
.sf-icon-polar-chart:before { content: "\e7ea"; }
.sf-icon-search:before { content: "\e7eb"; }
.sf-icon-webinar:before { content: "\e7ec"; }
.sf-icon-collaborative-editing:before { content: "\e7ed"; }
.sf-icon-resource-center:before { content: "\e7ee"; }
.sf-icon-timeline:before { content: "\e7ef"; }
.sf-icon-3d-circular-chart:before { content: "\e7f0"; }
.sf-icon-text-area:before { content: "\e7f1"; }
.sf-icon-otp-control:before { content: "\e7f2"; }
.sf-icon-smart-text-area:before { content: "\e7f3"; }
.sf-icon-ai-assistive:before { content: "\e7f4"; }
.sf-icon-smart-paste:before { content: "\e7f5"; }
.sf-icon-sankey-chart:before { content: "\e7f6"; }
.sf-icon-bottom-sheet:before { content: "\e7f7"; }
.sf-icon-video-guide:before { content: "\e7f8"; }
.sf-icon-showcase-app:before { content: "\e7f9"; }
