
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    }
#top
{
    background-color: gray;
}
    
    /* Sidebar links */
    .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    }
    
    /* Active/current link */
    .sidebar a.active {
    background-color: #04AA6D;
    color: white;
    }
    
    /* Links on mouse-over */
    .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    }
    
    /* Page content */
    div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    font-size:xx-large;
    background-color: #9e9a9a;
    }
    
    /* Responsive design for screens less than 700px wide */
    @media screen and (max-width: 700px) {
    .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    }
    .sidebar a {
    float: left;
    }
    div.content {
    margin-left: 0;
    }
    }
    
    /* Responsive design for screens less than 400px wide */
    @media screen and (max-width: 400px) {
    .sidebar a {
    text-align: center;
    float: none;
    }
    }