.elementor-3364 .elementor-element.elementor-element-6280ecf:not(.elementor-motion-effects-element-type-background), .elementor-3364 .elementor-element.elementor-element-6280ecf > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f6f6f6;}.elementor-3364 .elementor-element.elementor-element-6280ecf > .elementor-container{max-width:1200px;}.elementor-3364 .elementor-element.elementor-element-6280ecf{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-5px;margin-bottom:-5px;padding:0px 0px 0px 0px;}.elementor-3364 .elementor-element.elementor-element-6280ecf > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-3364 .elementor-element.elementor-element-1f96fd22.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3364 .elementor-element.elementor-element-1f96fd22.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3364 .elementor-element.elementor-element-1f96fd22 > .elementor-element-populated{padding:10px 10px 10px 5px;}.elementor-3364 .elementor-element.elementor-element-10bc2e17 > .elementor-widget-container{padding:0px 0px 0px 10px;}.elementor-bc-flex-widget .elementor-3364 .elementor-element.elementor-element-49548f9d.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3364 .elementor-element.elementor-element-49548f9d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3364 .elementor-element.elementor-element-49548f9d > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-3364 .elementor-element.elementor-element-6ee19947 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 5px 0px 0px;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .elementor-nav-menu .elementor-item{font-family:"Open Sans", Sans-serif;font-size:12px;font-weight:bold;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .elementor-nav-menu--main .elementor-item{color:#3d3d3d;fill:#3d3d3d;padding-left:5px;padding-right:5px;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-3364 .elementor-element.elementor-element-6ee19947 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-3364 .elementor-element.elementor-element-6ee19947 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-3364 .elementor-element.elementor-element-6ee19947 .elementor-nav-menu--main .elementor-item:focus{color:#0073dc;fill:#0073dc;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-underline .elementor-item:after,
					 .elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-overline .elementor-item:before,
					 .elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-double-line .elementor-item:before,
					 .elementor-3364 .elementor-element.elementor-element-6ee19947 .e--pointer-double-line .elementor-item:after{height:0px;}.elementor-3364 .elementor-element.elementor-element-6ee19947{--e-nav-menu-horizontal-menu-item-margin:calc( 5px / 2 );}.elementor-3364 .elementor-element.elementor-element-6ee19947 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:5px;}.elementor-3364 .elementor-element.elementor-element-75408b08:not(.elementor-motion-effects-element-type-background), .elementor-3364 .elementor-element.elementor-element-75408b08 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1a1a1a;}.elementor-3364 .elementor-element.elementor-element-75408b08 > .elementor-container{max-width:1200px;}.elementor-3364 .elementor-element.elementor-element-75408b08{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:11;}.elementor-3364 .elementor-element.elementor-element-75408b08 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3364 .elementor-element.elementor-element-338f11af > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-3364 .elementor-element.elementor-element-338f11af > .elementor-element-populated{padding:6px 0px 0px 16px;}.elementor-3364 .elementor-element.elementor-element-316de9bc > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-menu-item.wpr-pointer-item{transition-duration:0.2s;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-menu-item.wpr-pointer-item .wpr-mega-menu-icon{transition-duration:0.2s;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-menu-item.wpr-pointer-item:before{transition-duration:0.2s;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-menu-item.wpr-pointer-item:after{transition-duration:0.2s;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-toggle-wrap{text-align:center;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu .wpr-menu-item,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu > .menu-item-has-children > .wpr-sub-icon{color:#333333;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu .wpr-mega-menu-icon{color:#333333;font-size:16px;margin-right:5px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu .wpr-menu-item:hover,
					.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu .wpr-menu-item:hover .wpr-mega-menu-icon,
					.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item .wpr-mega-menu-icon,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu > .menu-item-has-children:hover > .wpr-sub-icon,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu > .menu-item-has-children.current_page_item > .wpr-sub-icon{color:#605BE5;}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-pointer-line-fx .wpr-menu-item:before,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-pointer-line-fx .wpr-menu-item:after{background-color:#605BE5;}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-pointer-border-fx .wpr-menu-item:before{border-color:#605BE5;border-width:2px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-pointer-background-fx .wpr-menu-item:before{background-color:#605BE5;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .menu-item-has-children .wpr-sub-icon{font-size:15px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-pointer-underline .wpr-menu-item:after,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-pointer-overline .wpr-menu-item:before,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-pointer-double-line .wpr-menu-item:before,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-pointer-double-line .wpr-menu-item:after{height:2px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842:not(.wpr-pointer-border-fx) .wpr-menu-item.wpr-pointer-item:before{transform:translateY(-13px);}.elementor-3364 .elementor-element.elementor-element-7fa2e842:not(.wpr-pointer-border-fx) .wpr-menu-item.wpr-pointer-item:after{transform:translateY(13px);}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu .wpr-menu-item{padding-left:0px;padding-right:0px;padding-top:15px;padding-bottom:15px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu > .menu-item{margin-left:10px;margin-right:10px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu-vertical .wpr-nav-menu > li > .wpr-sub-menu{margin-left:10px;transform:translateX(15px);}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu-vertical .wpr-nav-menu > li > .wpr-sub-mega-menu{margin-left:10px;transform:translateX(15px);}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-main-menu-align-left .wpr-nav-menu-vertical .wpr-nav-menu > li > .wpr-sub-icon{right:10px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-nav-menu > li > .wpr-sub-icon{left:10px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu-horizontal .wpr-nav-menu .wpr-sub-mega-menu{transform:translateY(15px);}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-main-menu-align-center .wpr-nav-menu-horizontal .wpr-mega-menu-pos-default.wpr-mega-menu-width-custom .wpr-sub-mega-menu{transform:translate(-50%, 15px);}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu-horizontal .wpr-nav-menu > li > .wpr-sub-menu{transform:translateY(15px);}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu .wpr-mega-menu-badge{top:-5px;padding:3px 5px 2px 5px;border-radius:0px 0px 0px 0px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu-horizontal .wpr-mega-menu-badge{right:15px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-nav-menu-vertical .wpr-mega-menu-badge{margin-left:15px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-mega-menu{border-style:none;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu .wpr-sub-menu-item,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu > .menu-item-has-children .wpr-sub-icon{color:#333333;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu .wpr-sub-menu-item{background-color:#ffffff;padding-left:15px;padding-right:15px;padding-top:13px;padding-bottom:13px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu .wpr-sub-menu-item:hover,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu > .menu-item-has-children .wpr-sub-menu-item:hover .wpr-sub-icon,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item .wpr-sub-icon,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu > .menu-item-has-children.current_page_item .wpr-sub-icon{color:#ffffff;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu .wpr-sub-menu-item:hover,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item{background-color:#605BE5;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-sub-menu .wpr-sub-icon{right:15px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-sub-menu .wpr-sub-icon{left:15px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-toggle{border-color:#333333;width:50px;border-width:1px;border-radius:4px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-toggle-text{color:#333333;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-toggle-line{background-color:#333333;height:4px;margin-bottom:6px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-toggle:hover{border-color:#605BE5;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-toggle:hover .wpr-mobile-toggle-text{color:#605BE5;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-toggle:hover .wpr-mobile-toggle-line{background-color:#605BE5;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-menu-item,
					.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-sub-menu-item,
					.elementor-3364 .elementor-element.elementor-element-7fa2e842 .menu-item-has-children > .wpr-mobile-menu-item:after{color:#333333;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-nav-menu li a:hover,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-nav-menu .menu-item-has-children > a:hover:after,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-nav-menu li a.wpr-active-menu-item,
					 .elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-nav-menu .menu-item-has-children.current_page_item > a:hover:after{color:#ffffff;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-menu-item:hover,
					.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-sub-menu-item:hover,
					.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-sub-menu-item.wpr-active-menu-item,
					.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-menu-item.wpr-active-menu-item{background-color:#605BE5;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-menu-item{padding-left:10px;padding-right:10px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-mega-menu > li > a > .wpr-mobile-sub-icon{padding:10px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-nav-menu .wpr-mobile-menu-item{padding-top:10px;padding-bottom:10px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-mobile-divider-yes .wpr-mobile-menu-item{border-bottom-width:1px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-mega-menu .wpr-mobile-sub-icon{font-size:14px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-mobile-nav-menu .wpr-mobile-sub-menu-item{font-size:12px;padding-left:10px;padding-right:10px;padding-top:4px;padding-bottom:4px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842 .wpr-menu-offcanvas-back{padding-left:10px;padding-right:10px;}.elementor-3364 .elementor-element.elementor-element-7fa2e842.wpr-mobile-menu-display-dropdown .wpr-mobile-nav-menu{margin-top:10px;}@media(max-width:1024px){.elementor-3364 .elementor-element.elementor-element-338f11af > .elementor-element-populated{padding:10px 0px 10px 21px;}.elementor-3364 .elementor-element.elementor-element-74bf5312 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-3364 .elementor-element.elementor-element-74bf5312 > .elementor-element-populated{padding:13px 18px 0px 0px;}}@media(min-width:768px){.elementor-3364 .elementor-element.elementor-element-338f11af{width:20%;}.elementor-3364 .elementor-element.elementor-element-74bf5312{width:80%;}}@media(max-width:1024px) and (min-width:768px){.elementor-3364 .elementor-element.elementor-element-49548f9d{width:100%;}.elementor-3364 .elementor-element.elementor-element-338f11af{width:75%;}.elementor-3364 .elementor-element.elementor-element-74bf5312{width:25%;}}@media(max-width:767px){.elementor-3364 .elementor-element.elementor-element-338f11af{width:75%;}.elementor-3364 .elementor-element.elementor-element-338f11af > .elementor-element-populated{padding:10px 0px 10px 20px;}.elementor-3364 .elementor-element.elementor-element-74bf5312{width:25%;}.elementor-bc-flex-widget .elementor-3364 .elementor-element.elementor-element-74bf5312.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3364 .elementor-element.elementor-element-74bf5312.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3364 .elementor-element.elementor-element-74bf5312 > .elementor-element-populated{padding:0px 15px 0px 0px;}}/* Start custom CSS for html, class: .elementor-element-10bc2e17 */#banner-content .marketing-banner-content {
    color: #1c243f;
    width: unset;
    text-align: center;
    display: inline;
    letter-spacing: .16px;
    font-size: 12px;
    float: left;
    padding-right: 5px;
    line-height: 18px;
    margin: 0;
}
#banner-content .marketing-link {
    color:#ce3a00;
    text-align: center;
    font-size: 12px;
    float: left;
    font-weight: 700;
    line-height: 18px;
}
#banner-content .new-label {
    margin-right: 8px;
    display: inline-block;
    border-radius: 6px;
    background-color: #ffe985;
    color: #000;
    height: 18px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 10px;
    padding: 0 5px;
}
#banner-content{
    width: max-content !important;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-6ee19947 */#navigation-menu .eicon-menu-bar {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-6280ecf */#blog-site-logo img{
    width :165px;
    height: 37px;
}
#detail-page-header-content {
    display: none;
}
#category-section h5 {
    display: none;
}
#home-page-header-content{
    margin-bottom: 0px !important;
}
#home-page-header-content .elementor-button-text{
    margin-bottom: 0px !important;
    font-size: 24px !important;
}

@media (max-width :767px){
#search-box .elementor-widget-container{
width:90%;
}
}
#navigation-menu a{
    cursor: pointer;
}
#detail-page-header-content a {
    padding-left: 10px !important;
}
#home-page-header-content a {
padding-left:6px !important;
}
@media  (min-width: 980px) and (max-width: 1024px){
#navigation-menu .elementor-nav-menu--dropdown a {
   color: #0073dc !important;
   background-color:#f4f6f7 !important;
   padding-top: 13px !important;
}
}
@media (max-width: 768px){
#category-section select{ 
   width :217px !important;
}
#category-section div::after{
    right:0px !important;
    left:188px;
}
}
#category-section select{ 
width:100%;
}
#category-section select{
    padding: 3px 0px 3px 8px !important;
     -webkit-appearance: none;
}
#category-section div::after {
    content: '\e635';
    position: absolute;
    font-size: 22px;
    font-family: thegem-icons;
    right: 7px;
    top: 4px;
    pointer-events: none;
    color: #949494;
}
#popular-post-template .elementor-element-populated{
    padding :13px 0px 0px 0px;
}
#popular-post-template .elementor-post__title a{
vertical-align: text-top !important;
}
@media (max-width :1024px){
#elementor-library-4 .elementor-element-populated , #separator-tag {
display:none !important;
}
.mail-chimp-form .elementor-heading-title {
text-align: center;
}
}
@media (min-width:992px) and (max-width:1024px){
.latest-post {
width :100%;
}
.popular-post{
width :100%;
}
}
@media(max-width: 1024px){
.elementor-widget-container #separator-tag {
    display :block;
}
#custom_html-2 {
margin-top : 20px;
}
}
@media (min-width:768px) and (max-width:1024px){
.popular-post{
margin-top: 0px;
}
}
@media (max-width:767px){
.popular-post {
margin-top: 10px;
}
#search-box .elementor-widget-container{
width:100%;
}
#category-section div::after {
text-align: right;
right: 5px !important;
}
#category-section select{
    width:100% !important;
}
#category-section select {
background-color:#ffffff;
}
#category-section select hr{
display : none !important;
}
}
@media (min-width:1024px){
.latest-post{
padding-top :20px !important;
}
.popular-post{
    padding-top :26px !important;
}


}
#footer-privacy-link-mobile-view, #footer-privacy-link-mobile-view a{   
    text-align: center;
color: #3d3d3d;
font-size: 13px;
}
#footer-privacy-link, #footer-privacy-link a {
color: #3d3d3d;
font-size: 13px;
}
#category-section .select-cat{
display: none !important;
}
#category-section optgroup{
color: #4a4a4a !important;
font-size:15px !important;
font-weight:600 !important;

    }
#divider {
color: #9a9a9a !important;
}
@media(min-width:1200px){
#category-section .custom-html-widget{
width:223px !important;
}
}

/* popular-post related css*/
#popular-post-template .elementor-post__title a:hover{
    color:#0073DC  !important;
}

/* header ambar menu*/
#navigation-menu .eicon-menu-bar{
    color:#fff;
}
/*onesignal notification popup */
#onesignal-popover-container {
display:none;
}/* End custom CSS */
/* Start custom CSS for wpr-mega-menu, class: .elementor-element-7fa2e842 */.elementor-51024 .elementor-element.elementor-element-8834398 .wpr-sub-menu {
    background-color: #F4F6F7;
     border-style: none !important; 
    border-width: none !important;
     border-color: none !important; 
     margin-bottom: 0px !important;
    
}/* End custom CSS */
/* Start custom CSS for wpr-mega-menu, class: .elementor-element-7fa2e842 */.freetrial-button a span{
  font-size: 12px !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container, #navigation-menu-column .wpr-mega-menu-container{
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
@media screen and (max-width: 1024px) {
	.wpr-main-menu-align--tabletleft .wpr-nav-menu-horizontal .wpr-nav-menu, .wpr-main-menu-align--tabletleft .wpr-nav-menu-vertical .wpr-menu-item {
        text-align:left;
        display: none !important;
    }
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-toggle:hover .wpr-mobile-toggle-line {
    background-color: #fff;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-toggle-line {
    background-color: white;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 25px;
    margin-left: auto;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-toggle {
    border-color: white !important;
    width: 36px;
    border-width: 0px;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-toggle-wrap {
    text-align: right;
}
#navigation-menu-column .wpr-mega-menu-container .wpr-nav-menu .wpr-menu-item {
    color: #FFFFFF;
    fill: #FFFFFF;
    padding: 6px 10px;
}
#navigation-menu-column .wpr-mega-menu-container .wpr-nav-menu li:not(:first-child)>.wpr-menu-item{
    margin-left: 6.5px;
}
#navigation-menu-column .wpr-mega-menu-container .wpr-nav-menu li:not(:last-child)>.wpr-menu-item{
    margin-right: 6.5px;
}
.wpr-mega-menu a.wpr-menu-item {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 0px;
}
.wpr-sub-icon-caret-down .wpr-sub-icon:before, .wpr-sub-icon-caret-down .wpr-mobile-nav-menu .menu-item-has-children>a:after {
    content: "\f078" !important;
}
#navigation-menu-column .wpr-sub-divider-yes .wpr-sub-menu li:not(:last-child) {
    /* border-bottom-color: #e8e8e8; */
    border-bottom-width: none;
}
#navigation-menu-column .wpr-sub-menu .wpr-sub-menu-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 176px;
}
#navigation-menu-column .wpr-sub-menu .wpr-sub-menu-item, #navigation-menu-column .wpr-sub-menu > .menu-item-has-children .wpr-sub-icon {
    color: #0073DC;
}
.wpr-sub-menu .wpr-sub-menu-item {
    display: block;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px !important;
    font-weight: 600;
    text-transform: none;
}
 #navigation-menu-column .wpr-nav-menu .wpr-menu-item:hover{
    color:none !important;
}
#navigation-menu-column.wpr-sub-divider-yes .wpr-sub-menu li:not(:last-child) {
    border-bottom-color: none;
    border-bottom-width:none;
}
#navigation-menu-column .wpr-sub-menu .wpr-sub-menu-item {
    background-color:  #FFFFFF;
}
#navigation-menu-column .wpr-sub-divider-yes .wpr-sub-menu li:not(:last-child) {
    border-bottom-style: none !important;
}
#navigation-menu-column .wpr-nav-menu .wpr-menu-item:hover, #navigation-menu-column .wpr-nav-menu .wpr-menu-item:hover .wpr-mega-menu-icon, #navigation-menu-column .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item .wpr-mega-menu-icon, #navigation-menu-column .wpr-nav-menu > .menu-item-has-children:hover > .wpr-sub-icon, #navigation-menu-column .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item, #navigation-menu-column .wpr-nav-menu > .menu-item-has-children.current_page_item > .wpr-sub-icon {
    color: #FFFFFF;
}
#navigation-menu-column:not(.wpr-pointer-border-fx) .wpr-pointer-item:after {
    content: none !important;
}
#navigation-menu-column .wpr-nav-menu .wpr-sub-icon {
    font-size: 0.8em !important;
    margin: -10px 0px !important;
    margin-left: 0px !important;
    padding: 10px 0px 10px 10px;
}
nav.wpr-nav-menu-container.wpr-mega-menu-container.wpr-nav-menu-horizontal {
    display: flex;
    --e-nav-menu-horizontal-menu-item-margin: calc( 13px / 2 );
}
.wpr-main-menu-align-left .wpr-nav-menu-horizontal .wpr-nav-menu, .wpr-main-menu-align-left .wpr-nav-menu-vertical .wpr-menu-item, .wpr-main-menu-align-left .wpr-nav-menu-vertical .wpr-sub-menu li a {
    text-align: right;
    margin-left: auto !important;
}
#site-logo-container div {
    width: 224px;
}
@media only screen and (min-width: 1025px) {
    .freetrial-button a {
        padding:5px 18px !important;
        font-size:
        12px  !important;
        font-weight:
        700  !important;
        letter-spacing:
        0.5px !important;
    }
}

a span.new-label {
    margin-left: 8px;
    display: inline-block;
    border-radius: 6px;
    background-color: #ffe985;
    color: #000;
    width: 34px;
    height: 20px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 10px;
    padding-left: 6px;
}
@media (min-width: 980px){
    .freetrial-button a {
        padding: 6px 18px!important;
        background: #0073dc!important;
        color: #fff!important;
        border-radius: 4px;
        opacity: 1!important;
        font-size: 12px !important;
        letter-spacing: .5px;
        margin-left: 5px;
    }
    .freetrial-button a:hover {
        background-color: #0d98ff !important;
    }
}
.elementor-nav-menu--dropdown a {
    justify-content: space-between;
}
#navigation-menu-column .wpr-sub-menu .wpr-sub-menu-item:hover, #navigation-menu-column .wpr-sub-menu .wpr-sub-menu-item:focus {
    background-color: #E8F1FF;
    color: #0F172A;
    font-weight: 600;
    outline: 0;
}
.wpr-sub-icon-caret-down .wpr-sub-icon:before, .wpr-sub-icon-caret-down .wpr-mobile-nav-menu .menu-item-has-children>a:after {
    content: "\f078" !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu li a:after {
    content: "\f078" !important;
}
.wpr-sub-icon-caret-down .wpr-sub-icon:before, .wpr-sub-icon-caret-down .wpr-mobile-nav-menu .menu-item-has-children>a:after {
    content: "\f078" !important;
}
.fa-caret-down:before {
    content: "\f078" !important;
    font-size: 0.8em !important;
}

@media (min-width: 980px){
    .freetrial-button a {
        padding: 5px 18px!important;
        background: #0073dc!important;
        color: #fff!important;
        border-radius: 4px;
        opacity: 1!important;
        font-size: 12px !important;
        letter-spacing: .5px;
        margin-right: 0px !important;
    }
    .freetrial-button a span {
        font-weight: bold !important;
    }
}
#navigation-menu-column .wpr-mega-menu .wpr-menu-item  span {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 0px;
    line-height: 20px;
}
#navigation-menu-column li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-parent {
    margin-bottom: 0px !important;
}
#navigation-menu-column ul li {
     margin-bottom: 0px !important;
}
.requestdemo-button a span{
    font-size: 12px !important;
    font-weight: bold !important;
}
#navigation-menu-column .wpr-sub-menu li a span{
    font-size: 13px !important;
}
#navigation-menu-column .wpr-sub-menu li a span.new-label{
    font-size: 10px !important;
}
@media (min-width: 1025px) {
    #navigation-menu-column .requestdemo-button a {
        padding: 5px 18px!important;
        background: #000!important;
        border: 1px solid #fff !important;
        color: #fff!important;
        border-radius: 4px;
        font-size: 12px !important;
        letter-spacing: 0.5px;
        opacity: 1 !important;
        margin-right: 15px !important;
    }
    .requestdemo-button a:hover {
        background-color: #FFFFFF!important;
        color: #000!important;
    }
}
#navigation-menu-column .wpr-nav-menu > .menu-item{
    margin-right: 0;
    margin-left: 0;
}
#navigation-menu-column .wpr-nav-menu {
    line-height: 20px;
}
#navigation-menu-column .wpr-nav-menu .wpr-sub-menu {
    background-color: #f4f6f7 !important;
    border-style: groove !important;
    border-width: 0.5px 0.5px 0.5px 0.5px !important;
    border-color: #e2e2e2 !important;
}
#navigation-menu-column .wpr-nav-menu li:nth-child(2) ul.wpr-sub-menu, #navigation-menu-column .wpr-nav-menu li:nth-child(4) ul.wpr-sub-menu {
    margin-top: -5px;
    left: 10px;
}
#navigation-menu-column .wpr-nav-menu li:nth-child(2) ul.wpr-sub-menu li .wpr-sub-menu{
    margin-top: 0px;
    left: 100%;
}
#navigation-menu-column .wpr-nav-menu .wpr-sub-menu .wpr-sub-icon {
    padding: 10px 10px 0 10px;
}
#navigation-menu-column .wpr-nav-menu li:nth-child(2) ul.wpr-sub-menu li a, #navigation-menu-column .wpr-nav-menu li:nth-child(4) ul.wpr-sub-menu li a {
    text-shadow: none;
    white-space: nowrap;
}
#navigation-menu-column .wpr-nav-menu li ul.wpr-sub-menu, #navigation-menu-column .wpr-nav-menu li:nth-child(2) ul.wpr-sub-menu li.menu-item-parent:nth-child(2) ul li a {
    width: auto;
}
#navigation-menu-column .wpr-nav-menu li:nth-child(2) ul.wpr-sub-menu li li a {
    border-left: 16px solid transparent;
}
#navigation-menu-column .wpr-nav-menu li:nth-child(2) ul.wpr-sub-menu li.menu-item-parent:nth-child(2) a {
    width: 152px;
}
/*mobile and tablet design*/
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu {
    padding: 0;
    background-color: #3d3d3d;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu a.wpr-mobile-menu-item {
    font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 0px;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-menu-item {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #3d3d3d;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-menu-item:hover {
    background-color: #3d3d3d !important;
    color: #ffffff;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-mega-menu > li > a > .wpr-mobile-sub-icon {
    padding: 0px 0px 0px 10px;
    position: unset;
    margin-left: unset;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .book-free-demo-button {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a !important;
    padding: 15px 22px 8px 22px;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .book-free-demo-button a {
    padding: 10px 20px!important;
    background: #000!important;
    border: 1px solid #fff !important;
    color: #fff!important;
    border-radius: 4px;
    font-size: 13px !important;
    letter-spacing: 0.5px;
    opacity: 1 !important;
    width:100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .book-free-demo-button a:hover, #navigation-menu-column .book-free-demo-button a:hover {
    background-color: #fff !important;
    color: #000 !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .try-it-free-button {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a !important;
    padding: 8px 22px 15px 22px
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .try-it-free-button a {
    padding: 10px 77px !important;
    background: #0073dc!important;
    color: #F8FAFC !important;
    border-radius: 4px;
    opacity: 1!important;
    font-size: 14px !important;
    letter-spacing: 0.5px;
    margin-left: 0px !important;
    width:100%;
    display: flex;
    justify-content: center;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .try-it-free-button a:hover {
    background-color: #0D98FF !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .wpr-mobile-sub-menu .wpr-mobile-sub-menu-item {
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    line-height: 20px;
    color: #0F172A;
    font-weight: 600;
    background-color: #F8FAFC;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .wpr-mobile-sub-menu li ul li .wpr-mobile-sub-menu-item {
    padding-left: 45px;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .wpr-mobile-sub-menu .wpr-mobile-sub-menu-item:hover , #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .menu-item-has-children > a:hover:after, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .menu-item-has-children.current_page_item > a:hover:after {
    background-color: #E8F1FF !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .wpr-mobile-sub-menu .wpr-mobile-sub-open .wpr-mobile-sub-menu-item .wpr-mobile-sub-icon{
    margin-top:0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .wpr-mobile-sub-menu .wpr-mobile-sub-menu-item .wpr-mobile-sub-icon, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .elementor-widget-wrap .products-menu .products-items .navbar a .wpr-mobile-sub-icon {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 1px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .wpr-mobile-sub-open .wpr-mobile-menu-item .fa-caret-down:before {
    content: "\f077" !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .elementor-widget-wrap {
    padding: 0px !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .elementor-widget-wrap .products-menu {
    margin-top:0 !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu  .learning-and-support-menu .learning-and-support-items {
    margin: 0;
    border: none !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items .navbar, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .learning-support-menu-items .navbar {
    display: block;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items .navbar .support-headers, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .learning-support-menu-items .navbar .support-headers {
    display: block;
    width: auto;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items .navbar .platform-headers, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .learning-support-menu-items .navbar .platform-headers {
    display: block;
    width: auto;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items .navbar a, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .learning-support-menu-items .navbar a {
    float: unset;
    height: unset;
    position: unset;
    text-align: unset;
    display: block;
    margin: 0 !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items .navbar .support-headers a, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items .navbar .platform-headers a {
    color: #0F172A !important;
    background-color: #F8FAFC;
    border-bottom: 1px solid #E2E8F0;
    padding-left: 32px !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items .navbar .support-headers a:hover, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .products-items .navbar .platform-headers a:hover {
    color: #0057FF !important;
    background-color: #F8FAFC !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-sub-mega-menu .support-headers:after {
    content: unset !important;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-toggle-line {
    height: 2px;
    margin-bottom: 4px;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-toggle {
    border-color: #535353 !important;
    border-width: 1px;
    border-radius: 4px;
}
@media (min-width: 768px) {
    #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .book-free-demo-button a, #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .try-it-free-button a {
        width:50%;
    }
}
@media (max-width: 1226px) {
    .wpr-mobile-nav-menu-container {  display: block !important;
    }
    .wpr-nav-menu-container.wpr-mega-menu-container.wpr-nav-menu-horizontal {
    display: none !important;
    }
    #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-nav-menu .requestdemo-button a  {
        margin-right: 0 !important;
    }
}
@media (max-width: 1226px) {
    #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-mega-menu-wrap {
        width: auto !important;
    }
}
@media (min-width: 1025px) and (max-width: 1226px){
    #navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-mega-menu-wrap {
        margin-left: -11px;
    }
}
#navigation-menu-column .wpr-nav-menu li:nth-child(4) ul.wpr-sub-menu {
    background-color: #FFFFFF !important;
    box-shadow: 0px 4px 12px rgba(30, 41, 59, 0.2) !important;
    border: 1px solid #ddd !important;
    border-radius: 6px;
}
#navigation-menu-column .wpr-nav-menu li:nth-child(4) ul.wpr-sub-menu li:first-child {
    margin-top: 10px;
}
#navigation-menu-column .wpr-nav-menu li:nth-child(4) ul.wpr-sub-menu li:last-child {
    margin-bottom: 10px !important;
}
#navigation-menu-column .wpr-nav-menu li:nth-child(4) ul.wpr-sub-menu li a {
    color: #0F172A;
    font-weight: 600;
}
#navigation-menu-column .new-tag {
    font-size: 10px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    padding: 4px 7px;
    background-color: #ffe985;
    letter-spacing: 0.5px;
    color: #3C2E12;
    border-radius: 6px;
    font-weight: 700;
    display: inline-flex;
    line-height: 10px;
    margin-left: 10px;
}
#navigation-menu-column .wpr-mobile-nav-menu-container .wpr-mobile-mega-menu-wrap .wpr-mobile-sub-menu {
    background-color: #ffffff;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-75408b08 */.elementor-3364 .elementor-element.elementor-element-75408b08{
    margin:0 auto;
}
#blog-site-logo img{
    width :165px;
    height: 37px;
}
#detail-page-header-content {
    display: none;
}
#category-section h5 {
    display: none;
}
#home-page-header-content{
    margin-bottom: 0px !important;
}
#home-page-header-content .elementor-button-text{
    margin-bottom: 0px !important;
    font-size: 24px !important;
}

@media (max-width :767px){
#search-box .elementor-widget-container{
width:90%;
}
}
#navigation-menu a{
    cursor: pointer;
}
#detail-page-header-content a {
    padding-left: 10px !important;
}
#home-page-header-content a {
padding-left:6px !important;
}
@media  (min-width: 980px) and (max-width: 1024px){
#navigation-menu .elementor-nav-menu--dropdown a {
   color: #0073dc !important;
   background-color:#f4f6f7 !important;
   padding-top: 13px !important;
}
}
@media (max-width: 768px){
#category-section select{ 
   width :217px !important;
}
#category-section div::after{
    right:0px !important;
    left:188px;
}
}
#category-section select{ 
width:100%;
}
#category-section select{
    padding: 3px 0px 3px 8px !important;
     -webkit-appearance: none;
}
#category-section div::after {
    content: '\e635';
    position: absolute;
    font-size: 22px;
    font-family: thegem-icons;
    right: 7px;
    top: 4px;
    pointer-events: none;
    color: #949494;
}
#popular-post-template .elementor-element-populated{
    padding :13px 0px 0px 0px;
}
#popular-post-template .elementor-post__title a{
vertical-align: text-top !important;
}
@media (max-width :1024px){
#elementor-library-4 .elementor-element-populated , #separator-tag {
display:none !important;
}
.mail-chimp-form .elementor-heading-title {
text-align: center;
}
}
@media (min-width:992px) and (max-width:1024px){
.latest-post {
width :100%;
}
.popular-post{
width :100%;
}
}
@media(max-width: 1024px){
.elementor-widget-container #separator-tag {
    display :block;
}
#custom_html-2 {
margin-top : 20px;
}
}
@media (min-width:768px) and (max-width:1024px){
.popular-post{
margin-top: 0px;
}
}
@media (max-width:767px){
.popular-post {
margin-top: 10px;
}
#search-box .elementor-widget-container{
width:100%;
}
#category-section div::after {
text-align: right;
right: 5px !important;
}
#category-section select{
    width:100% !important;
}
#category-section select {
background-color:#ffffff;
}
#category-section select hr{
display : none !important;
}
}
@media (min-width:1024px){
.latest-post{
padding-top :20px !important;
}
.popular-post{
    padding-top :26px !important;
}


}
#footer-privacy-link-mobile-view, #footer-privacy-link-mobile-view a{   
    text-align: center;
color: #3d3d3d;
font-size: 13px;
}
#footer-privacy-link, #footer-privacy-link a {
color: #3d3d3d;
font-size: 13px;
}
#category-section .select-cat{
display: none !important;
}
#category-section optgroup{
color: #4a4a4a !important;
font-size:15px !important;
font-weight:600 !important;

    }
#divider {
color: #9a9a9a !important;
}
@media(min-width:1200px){
#category-section .custom-html-widget{
width:223px !important;
}
}

/* popular-post related css*/
#popular-post-template .elementor-post__title a:hover{
    color:#0073DC  !important;
}

/* header ambar menu*/
#navigation-menu .eicon-menu-bar{
    color:#fff;
}
/*onesignal notification popup */
#onesignal-popover-container {
display:none;
}/* End custom CSS */