.elementor-83 .elementor-element.elementor-element-1d1d38a8:not(.elementor-motion-effects-element-type-background), .elementor-83 .elementor-element.elementor-element-1d1d38a8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EBEFF5;}.elementor-83 .elementor-element.elementor-element-1d1d38a8 > .elementor-container{max-width:1140px;}.elementor-83 .elementor-element.elementor-element-1d1d38a8{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 20px 50px 25px;}.elementor-83 .elementor-element.elementor-element-1d1d38a8 > .elementor-background-overlay{opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83 .elementor-element.elementor-element-1e2ed66e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-1e2ed66e > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-659bb51f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-659bb51f > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-7e780896 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-7e780896 > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-4d47599d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-4d47599d > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-5e55e4a2 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-5e55e4a2 > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-65d3871e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-65d3871e > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-53e6406c:not(.elementor-motion-effects-element-type-background), .elementor-83 .elementor-element.elementor-element-53e6406c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EBEFF5;}.elementor-83 .elementor-element.elementor-element-53e6406c > .elementor-container{max-width:1140px;}.elementor-83 .elementor-element.elementor-element-53e6406c{overflow:hidden;border-style:solid;border-width:1px 0px 0px 0px;border-color:#CBD5E1;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 20px 20px 20px;}.elementor-83 .elementor-element.elementor-element-53e6406c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-83 .elementor-element.elementor-element-665d9927 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-665d9927 > .elementor-element-populated{padding:0px 18px 0px 15px;}.elementor-83 .elementor-element.elementor-element-69a3a98d{text-align:left;}.elementor-83 .elementor-element.elementor-element-4b64c5fc > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-1a23494a > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-f6a9a37 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-f6a9a37 > .elementor-element-populated{padding:0px 12px 0px 12px;}.elementor-83 .elementor-element.elementor-element-372ba13{--grid-template-columns:repeat(4, auto);--icon-size:32px;--grid-column-gap:15px;--grid-row-gap:0px;}.elementor-83 .elementor-element.elementor-element-372ba13 .elementor-widget-container{text-align:left;}.elementor-83 .elementor-element.elementor-element-372ba13 > .elementor-widget-container{margin:3px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-372ba13 .elementor-social-icon{--icon-padding:0em;}.elementor-83 .elementor-element.elementor-element-2c07e5d > .elementor-widget-container{margin:-5px 0px 0px 2px;}.elementor-83 .elementor-element.elementor-element-9f59cb0{--grid-template-columns:repeat(3, auto);--icon-size:32px;--grid-column-gap:15px;--grid-row-gap:0px;}.elementor-83 .elementor-element.elementor-element-9f59cb0 .elementor-widget-container{text-align:left;}.elementor-83 .elementor-element.elementor-element-9f59cb0 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-9f59cb0 .elementor-social-icon{background-color:#334155;--icon-padding:0em;}.elementor-83 .elementor-element.elementor-element-7850db7b:not(.elementor-motion-effects-element-type-background), .elementor-83 .elementor-element.elementor-element-7850db7b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EBEFF5;}.elementor-83 .elementor-element.elementor-element-7850db7b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:40px 0px 35px 0px;}.elementor-83 .elementor-element.elementor-element-7850db7b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-83 .elementor-element.elementor-element-75182f4d.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-83 .elementor-element.elementor-element-75182f4d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-83 .elementor-element.elementor-element-75182f4d.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-83 .elementor-element.elementor-element-75182f4d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-75182f4d > .elementor-element-populated{padding:0px 15px 0px 10px;}.elementor-83 .elementor-element.elementor-element-69fbdd32 > .elementor-widget-container{margin:0px 0px 21px 0px;}.elementor-83 .elementor-element.elementor-element-69fbdd32{text-align:center;}.elementor-83 .elementor-element.elementor-element-69fbdd32 .elementor-heading-title{color:#0F172A;font-family:"Open Sans", Sans-serif;font-size:22px;font-weight:700;line-height:26px;}.elementor-83 .elementor-element.elementor-element-6236a07b{text-align:center;}.elementor-83 .elementor-element.elementor-element-6236a07b .elementor-heading-title{color:#475569;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:30px;}.elementor-83 .elementor-element.elementor-element-4d5be423{text-align:center;}.elementor-83 .elementor-element.elementor-element-4d5be423 .elementor-heading-title{color:#475569;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:30px;}.elementor-83 .elementor-element.elementor-element-56599fd9 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-83 .elementor-element.elementor-element-56599fd9{text-align:center;}.elementor-83 .elementor-element.elementor-element-56599fd9 .elementor-heading-title{color:#475569;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:30px;}.elementor-83 .elementor-element.elementor-element-17141edb{text-align:center;}.elementor-83 .elementor-element.elementor-element-17141edb .elementor-heading-title{color:#0F172A;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:600;line-height:30px;}.elementor-83 .elementor-element.elementor-element-7d31963e{text-align:center;}.elementor-83 .elementor-element.elementor-element-7d31963e .elementor-heading-title{color:#475569;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:30px;}.elementor-83 .elementor-element.elementor-element-3eb72150{text-align:center;}.elementor-83 .elementor-element.elementor-element-3eb72150 .elementor-heading-title{color:#0057FF;font-family:"Open Sans", Sans-serif;font-size:14px;font-weight:600;line-height:30px;}.elementor-83 .elementor-element.elementor-element-7b8af8c1{--grid-template-columns:repeat(4, auto);--icon-size:32px;--grid-column-gap:15px;--grid-row-gap:0px;}.elementor-83 .elementor-element.elementor-element-7b8af8c1 .elementor-widget-container{text-align:center;}.elementor-83 .elementor-element.elementor-element-7b8af8c1 > .elementor-widget-container{padding:30px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-7b8af8c1 .elementor-social-icon{--icon-padding:0em;}.elementor-83 .elementor-element.elementor-element-3c1a675c > .elementor-widget-container{margin:-10px 0px 0px 2px;}.elementor-83 .elementor-element.elementor-element-3ef2847{--grid-template-columns:repeat(3, auto);--icon-size:32px;--grid-column-gap:15px;--grid-row-gap:0px;}.elementor-83 .elementor-element.elementor-element-3ef2847 .elementor-widget-container{text-align:center;}.elementor-83 .elementor-element.elementor-element-3ef2847 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-3ef2847 .elementor-social-icon{background-color:#334155;--icon-padding:0em;}.elementor-83 .elementor-element.elementor-element-72b2214f{overflow:hidden;padding:30px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-28e13d34.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-83 .elementor-element.elementor-element-28e13d34 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-41b91478{text-align:center;}.elementor-83 .elementor-element.elementor-element-221a45b4 > .elementor-widget-container{margin:16px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-2948b8af > .elementor-widget-container{margin:16px 0px -18px 0px;}@media(min-width:768px){.elementor-83 .elementor-element.elementor-element-1e2ed66e{width:20%;}.elementor-83 .elementor-element.elementor-element-659bb51f{width:13%;}.elementor-83 .elementor-element.elementor-element-7e780896{width:16%;}.elementor-83 .elementor-element.elementor-element-4d47599d{width:22%;}.elementor-83 .elementor-element.elementor-element-5e55e4a2{width:12%;}.elementor-83 .elementor-element.elementor-element-65d3871e{width:14.998%;}.elementor-83 .elementor-element.elementor-element-665d9927{width:81%;}.elementor-83 .elementor-element.elementor-element-f6a9a37{width:19%;}}@media(max-width:1024px) and (min-width:768px){.elementor-83 .elementor-element.elementor-element-1e2ed66e{width:20%;}.elementor-83 .elementor-element.elementor-element-659bb51f{width:13%;}.elementor-83 .elementor-element.elementor-element-7e780896{width:15%;}.elementor-83 .elementor-element.elementor-element-4d47599d{width:23%;}.elementor-83 .elementor-element.elementor-element-5e55e4a2{width:12%;}.elementor-83 .elementor-element.elementor-element-65d3871e{width:16%;}}@media(max-width:1024px){.elementor-83 .elementor-element.elementor-element-1d1d38a8{padding:50px 20px 50px 20px;}.elementor-83 .elementor-element.elementor-element-1e2ed66e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-1e2ed66e > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-659bb51f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-659bb51f > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-7e780896 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-7e780896 > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-4d47599d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-4d47599d > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-5e55e4a2 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-5e55e4a2 > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-83 .elementor-element.elementor-element-65d3871e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-65d3871e > .elementor-element-populated{padding:0px 0px 0px 10px;}.elementor-83 .elementor-element.elementor-element-665d9927 > .elementor-element-populated{padding:0px 15px 0px 10px;}.elementor-83 .elementor-element.elementor-element-1a23494a > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-f6a9a37 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-f6a9a37 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-372ba13{--grid-column-gap:15px;}.elementor-83 .elementor-element.elementor-element-2c07e5d > .elementor-widget-container{margin:-5px 0px 0px 2px;}.elementor-83 .elementor-element.elementor-element-75182f4d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-83 .elementor-element.elementor-element-75182f4d > .elementor-element-populated{padding:0px 0px 0px 10px;}}@media(max-width:767px){.elementor-83 .elementor-element.elementor-element-7850db7b{padding:50px 0px 45px 0px;}.elementor-83 .elementor-element.elementor-element-69fbdd32 .elementor-heading-title{letter-spacing:0px;}.elementor-83 .elementor-element.elementor-element-6236a07b .elementor-heading-title{letter-spacing:0px;}.elementor-83 .elementor-element.elementor-element-4d5be423 .elementor-heading-title{letter-spacing:0px;}.elementor-83 .elementor-element.elementor-element-56599fd9 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-83 .elementor-element.elementor-element-17141edb .elementor-heading-title{letter-spacing:0px;}.elementor-83 .elementor-element.elementor-element-7d31963e > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-83 .elementor-element.elementor-element-7d31963e .elementor-heading-title{letter-spacing:0px;}.elementor-83 .elementor-element.elementor-element-3eb72150 .elementor-heading-title{font-size:16px;letter-spacing:0px;}.elementor-83 .elementor-element.elementor-element-3c1a675c > .elementor-widget-container{margin:-5px 0px 0px 4px;}.elementor-83 .elementor-element.elementor-element-72b2214f{padding:40px 7px 0px 7px;}.elementor-83 .elementor-element.elementor-element-221a45b4 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-2948b8af > .elementor-widget-container{margin:10px 10px 0px 10px;}}/* Start custom CSS for column, class: .elementor-element-4d47599d */@media (min-width:768px) and (max-width:920px) {
    .elementor-83 .elementor-element.elementor-element-4d47599d{
        width:20%;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-1d1d38a8 */.list-unstyled {
    text-align: left;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-block-end:10px;
}
#main-footer-desktop * {
	font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
}
#product-footer-section .list-unstyled:nth-child(2), #learning-support-footer .list-unstyled:nth-child(2), #contact-footer-section .elementor-widget-html:first-child .list-unstyled, #resources-footer-section .list-unstyled:nth-child(2) {
    margin-block-end:18px;
}
.list-unstyled .content-small, #learning-support-footer .list-unstyled:nth-child(4) {
    margin-bottom:0px;
}
.footer-top-content{
    color: #0F172A;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
}
.list-unstyled .content-small{
    line-height: 30px;
    color: #475569;
    font-size: 14px;
    font-weight: 400;
}
.list-unstyled .content-small a{
    color: #475569;
    text-decoration: none;
}
.list-unstyled .list-content-mail-id a{
    color:#0057FF;
    font-weight: 600;
}
.toll-free-content .footer-top-content {
    margin-bottom: 0px;
    width:max-content;
}
.Contact-us-content ul {
    width:max-content;
}
.toll-free-content ul {
    width:max-content;
}
.elementor-widget-social-icons .elementor-grid-item svg:hover rect, .elementor-widget-social-icons .elementor-grid-item svg:hover circle{
	fill: #475569;
}
@media (max-width:1024px){
    .list-unstyled .content-small{
    font-size: 12px;
    }
}
@media (min-width:1100px) and (max-width:1200px) {
    #main-footer-desktop {
        padding: 50px 20px 50px 30px;
    }
    #main-footer-policy {
        padding: 20px 20px 20px 30px;
    }
    #resources-footer-section {
	    width: 12.5%;
    }
}
@media (min-width:1100px){
    #learning-support-footer {
	    width: 15%;
    }
    #product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section, #company-footer-section {
        margin-right: 5px;
    }
}
@media (min-width:1025px) and (max-width:1100px){
    .list-unstyled .content-small, .footer-top-content {
		font-size: 13px;
	}
    #product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section, #company-footer-section {
        margin-right: 5px;
    }
    #product-footer-section {
        width: 16% !important;
    }
    #resources-footer-section {
        width: 13.5% !important;
    }
    #learning-support-footer {
        width: 15% !important;
    }
    #alternatives-section {
        width: 23.5% !important;
    }
    #contact-footer-section {
        width: 17.5% !important;
        margin-right: 0;
    }
}
@media(max-width: 1024px) and (min-width:970px) {
    #main-footer-desktop {
        padding: 50px 20px 50px 30px;
    }
    #main-footer-policy {
        padding: 20px 20px 20px 30px;
    }
    .footer-top-content {
        font-size: 13px;
    }
    #product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section, #company-footer-section {
        margin-right: 6px;
    }
    #product-footer-section {
        width: 21% !important;
        margin-right: 0;
	}
    #resources-footer-section {
    	width: 12% !important;
    }
    #learning-support-footer {
    	width: 14% !important;
    }
    #alternatives-section {
        width: 22.5% !important;
        margin-right: 0;
    }
    #company-footer-section {
    	width: 11.5% !important;
    }
    #contact-footer-section {
    	width: 16% !important;
    	margin-right: 0;
    }
    #contact-footer-section .elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }
}
@media (min-width: 768px) and (max-width:969px) {
    .footer-top-content {
        font-size: 13px;
    }
    #main-footer-desktop .elementor-container, #product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section, #company-footer-section, #contact-footer-section {
        display: block;
        float: left;
    }
    #product-footer-section {
        width: 19% !important;
    }

    #resources-footer-section {
        width: 16% !important;
    }

    #learning-support-footer {
        width: 17.5% !important;
    }
    #alternatives-section {
        width: 28.5% !important;
    }
    #company-footer-section {
        width: 14.5% !important;
    }
    #contact-footer-section {
        width: 20% !important;
    }
    #contact-footer-section .elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }
    #contact-footer-section .elementor-widget-html:last-child .list-unstyled {
         margin-block-end:0px;
    }
    #policy-column {
        width: 55%;
    }
}
@media (min-width: 870px) and (max-width:969px) {
    #product-footer-section {
        width: 24% !important;
    }

    #learning-support-footer {
        width: 16.5% !important;
    }
    #alternatives-section {
        width: 25.5% !important;
    }
    #contact-footer-section {
        width: 16% !important;
    }
    #main-footer-desktop {
        padding: 50px 20px 50px 30px;
    }
    #main-footer-policy {
        padding: 20px 20px 20px 30px;
    }
	#product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section {
		padding: 0;
	}
	#policy-column {
        padding-left: 0;
    }
}
@media screen and (max-width:768px) {
	#main-footer-desktop {
		display:none;
	}
	#main-footer-policy {
		display:none;
	}
}
@media screen and (min-width:768px) {
	#main-footer-desktop {
		display:block !important;
	}
	#main-footer-policy {
		display:block !important;
	}
}
#syncfusion-policy a:hover, #copyright-content a:hover, .list-unstyled .content-small a:hover {
	color: #000;
}
#main-footer-mobile .elementor-container .elementor-widget-heading:nth-child(7) a:hover, .list-unstyled .list-content-mail-id a:hover {
	color: #0450c2;
}
#main-footer-mobile .elementor-widget-heading:not(:nth-child(7)) a, #contact-footer-section .elementor-widget-html li:not(.list-content-mail-id) a {
    color: #475569;
}
@media (min-width: 768px) and (max-width: 991px) {
    #product-footer-section ul.list-unstyled li.content-small:nth-of-type(11),
    #product-footer-section ul.list-unstyled li.content-small:nth-of-type(4) {
        line-height: 18px !important;
        margin: 6px 0px;
    }
    }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-665d9927 */#syncfusion-policy a,#copyright-content a{
        color: #475569;
        font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
}
#copyright-content a {
    line-height: 24px;
}
#syncfusion-policy a:first-child{
    padding-right:8px;
    padding-left: 0px !important;
    border-right: 2px solid #CBD5E1;
}
#syncfusion-policy a {
    padding:0px 8px 0px 0px;
    border-right: 2px solid #CBD5E1;
    margin-right: 8px;
    white-space: nowrap;
}
#syncfusion-policy a:last-child{
    border-right:0;
}
#syncfusion-policy a:nth-child(4) {
    word-break: break-all;
    white-space: pre-line;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f6a9a37 */#social-icons-count span {
        color: #475569;
        font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
}
#social-icons-count .icons-count-space {
    margin-left: 10px;
}
#social-icons-count .icons-count-space:nth-child(2) {
    margin-left: 8px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-53e6406c */#syncfusion-logo {
    margin-bottom: 14px;
}
#syncfusion-logo img {
    width: 160px;
    height: 36px;
}
#syncfusion-policy {
    margin-bottom: 8px;
}
#main-footer-policy .elementor-social-icon:hover {
    opacity: 1;
}
#main-footer-policy .elementor-social-icon svg {
    fill: none;
}
/*@media (max-width:1260px){
    #main-footer-policy #policy-column {
        width:calc(100vw - 295px);
    }
    #main-footer-policy #social-icons-column {
        width:205px;
    }
}
@media (min-width:1180px) and (max-width:1200px) {
#main-footer-policy #social-icons-column {
        right: 10px;
    }
}
@media (min-width:1200px) and (max-width:1260px) {
#main-footer-policy #social-icons-column {
        right: 20px;
    }
}
@media (max-width:1260px){
    #main-footer-policy #social-icons-column .elementor-widget-wrap{
        padding: 0px;
    }
}*/
@media (min-width: 1300px) {
    #policy-column {
        width:81%;
    }
    #main-footer-policy #social-icons-column .elementor-element-populated {
        padding: 0px 0px 0px 24px;
    }
}
@media (max-width: 1300px) {
    #main-footer-policy #social-icons-column {
        position: absolute;
        width: 205px;
    }
}
@media (min-width: 768px) and (max-width:1024px) {
    #main-footer-policy #social-icons-column {
        right: 50px;
    }
}
@media (min-width: 1025px) and (max-width:1180px) {
    #main-footer-policy #social-icons-column {
        right: 64px;
    }
}
@media (min-width: 1181px) and (max-width:1300px) {
    #main-footer-policy #social-icons-column {
        right: calc(85px - (100vw - 1140px)/2);
    }
}
#main-footer-mobile #syncfusion-policy a, #main-footer-mobile #syncfusion-policy a:first-child {
	padding: 16px 0px 16px 8px;
	border: none;
	margin-right: 0;
	
}
#main-footer-mobile #syncfusion-policy a:after {
	content: "|";
    color: #cbd5e1;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
}
#main-footer-mobile #syncfusion-policy a:last-child:after {
	content: "";
}
#social-icons-column .elementor-grid .elementor-grid-item, #main-footer-mobile .elementor-grid .elementor-grid-item {
    height: unset !important;
    margin-top: unset !important;
}
.tag #social-icons-column #social-icons-count .elementor-widget-container, .tag #main-footer-mobile #social-icons-count .elementor-widget-container {
	margin-top: 0;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-3c1a675c */.elementor-83 .elementor-element.elementor-element-3c1a675c {
    text-align: center;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-221a45b4 */.elementor-83 .elementor-element.elementor-element-221a45b4 {
    text-align: center;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-2948b8af */.elementor-83 .elementor-element.elementor-element-2948b8af {
    text-align: center;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7850db7b */#syncfusion-logo{
    width: 160px;
    height: 36px;
}
#main-footer-mobile .elementor-widget-wrap {
    padding: 0px;
}
#main-footer-mobile .elementor-social-icon svg {
    fill: none;
}/* End custom CSS */